<header id="header" class="brave_head">
	<div class="main_logo">
		<a href="/" title="">
			<img src="image/icon/logo_bravepeach.png" alt="">
		</a>
	</div>

	<!--<div class="profile_img">-->
		<!--<a href="/mypage/mypage_main" title="">-->
			<!--<img src="/assets/image/no_profile.png" alt="">-->
		<!--</a>-->
	<!--</div> -->
	<div class="gnb">
		<ul>
			<li><a href="/help" title="도움말">도움말</a></li>
			<li><a href="/login" title="로그인">로그인</a></li>
			<li><a href="/sign_up" title="회원가입">회원가입</a></li>
			<li><a href="/message_list" title="메세지">메세지</a></li>
			<li><a href="/trip_list" title="여행">여행</a></li>
			<li><a href="#" title="가이드 찜 리스트">가이드 찜 리스트</a></li>
			<li><a href="#" title="가이드 찾기">가이드 하기</a></li>
		</ul>
	</div>

</header><!-- /header -->