
<div class="main-header">

            <div class="head-container">
                <div class="main-message">
                    <h2>겁나지만 세상이 너무나 궁금한 당신을 위해<br>1204명의 가이드가 기다리고 있습니다.</h2>
                    <h1>어디로 가시나요?</h1>
                </div>

                <div class="main-mobile-logo-wrapper">
                    <img class="main-mobile-logo" src="image/icon/logo_bravepeach.png">
                </div>

                <div class="main-form-wrapper">
                    <div class="col-sm-3 main-form" style="border-radius: 8px 0px 0px 8px;">
                        <span class="form-name">위치</span>

                    </div>

                    <div class="col-sm-3 main-form">
                        <span class="form-name">날짜</span>

                    </div>

                    <div class="col-sm-3 main-form">
                        <span class="form-name">인원</span>

                    </div>

                    <div class="col-xs-3 main-form-button">

                    </div>
            </div>

                <div class="main-mobile-form-wrapper">
                    <img class="search-icon" src="image/icon/Search_Icon.png">
                    <input type="text" class="main-mobile-form" placeholder="원하는 지역의 가이드를 검색해보세요!">
                </div>

            </div>
        </div>


        <div class="mobile-main main-container">

            <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="main-thumbnail red-sunset">
                            <div class="overlay">
                                <h4>모두의 핫플레이스</h4>
                                <h3>보라카이</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="main-thumbnail mountain">
                            <div class="overlay">
                                <h4>죽기전에 꼭 가야할 그 곳</h4>
                                <h3>미국 서부</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="main-thumbnail waiting">
                            <div class="overlay">
                                <h4>도시의 모든 것</h4>
                                <h3>뉴욕</h3>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="main-thumbnail red-sunset">
                            <div class="overlay">
                                <h4>모두의 핫플레이스</h4>
                                <h3>보라카이</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="main-thumbnail mountain">
                            <div class="overlay">
                                <h4>죽기전에 꼭 가야할 그 곳</h4>
                                <h3>미국 서부</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="main-thumbnail waiting">
                            <div class="overlay">
                                <h4>도시의 모든 것</h4>
                                <h3>뉴욕</h3>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="main-thumbnail red-sunset">
                            <div class="overlay">
                                <h4>모두의 핫플레이스</h4>
                                <h3>보라카이</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="main-thumbnail mountain">
                            <div class="overlay">
                                <h4>죽기전에 꼭 가야할 그 곳</h4>
                                <h3>미국 서부</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="main-thumbnail waiting">
                            <div class="overlay">
                                <h4>도시의 모든 것</h4>
                                <h3>뉴욕</h3>
                            </div>
                        </div>
                    </div>
            </div>

        </div>
