/*
 * http://getbootstrap.com/customize - 하려 했으나, 원본 소스와 차이가 있어 강제 선언으로 처리
 * font-family:"돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; color:#383d41;
 * */
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic');
@import url('http://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css');
:root {
  --blush: #f2ad8a;
  --pastel-red: #e64c47;
  --greyish-brown: #404040;
  --white: #dbdbdb;
  --pale-red: #da4d44;
  --white-70: rgba(255, 255, 255, 0.7);
  --white-two: #ffffff;
  --white-three: #f6f6f6;
  --pastel-red-60: rgba(217, 104, 101, 0.6);
  --dark-sky-blue: #4a90e2;
  --greyish-brown-two: #4a4a4a;
  --warm-grey: #9c9c9c;
  --pale-grey: #ededef;
}
* {
  font-family: 'NanumSquare', 'Nanum Gothic', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  font-family: 'NanumSquare', sans-serif;
  margin: 0;
  position: relative;
  z-index: -1;
}
header {
  height: 65px;
}
a {
  text-decoration: none;
}
.brave_head .main_logo {
  float: left;
  margin-left: 50px;
  margin-top: 12px;
}
.brave_head .profile_img {
  float: right;
  margin-top: 35px;
  margin-right: 65px;
}
.brave_head .profile_img a img {
  width: 50px;
  height: auto;
  border-radius: 24px;
}
.brave_head .gnb {
  float: right;
  margin-top: 7px;
  margin-right: 50px;
}
.brave_head .gnb ul {
  list-style: none;
}
.brave_head .gnb ul li {
  float: right;
  margin: 0 15px;
}
.brave_head .gnb ul li a {
  font-size: 15px;
  color: #000;
  text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px;
  filter: shadow(color=#fff, direction=135, strength=4);
}
.brave_head .gnb ul li a :hover {
  text-decoration: none;
  color: #da4d44;
  color: var(--pale-red);
}
.main_brave_head .main_logo {
  float: left;
  margin-left: 50px;
  margin-top: 40px;
}
.main_brave_head .gnb {
  margin-top: 60px;
}
.brave_fixed_head .main_logo {
  margin-top: 4px;
}
.brave_fixed_head .gnb {
  margin-top: 26px;
}
.main_logo img {
  width: 200px;
}
/*헤더 배경화면*/
.head_container {
  width: 880px;
  margin: 0 auto;
  min-height: 740px;
}
/*메인 헤더 부분*/
.head_main_banner_bg {
  width: 100%;
  height: 740px;
  background: url('/assets/image/travel_main.jpg') center no-repeat;
  background-size: cover;
  z-index: -1;
}
.main_text {
  width: 350px;
  margin-top: 230px;
}
.head_main_text {
  position: absolute;
  top: 0;
  width: 880px;
}
.head_main_text h1 {
  font-size: 45px;
  color: #fff;
  margin-top: 8px;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px;
  filter: shadow(color=#000, direction=135, strength=4);
}
.head_main_text h4 {
  color: #fff;
  line-height: 28px;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px;
  filter: shadow(color=#000, direction=135, strength=4);
}
footer {
  background: #424242;
  margin-top: 20px;
  width: 100%;
  position: absolute;
  font-size: 20px;
  text-align: center;
}
.foot_menu {
  width: 775px;
  margin: 75px auto;
}
.foot_menu ul {
  width: 100%;
  list-style: none;
  display: table;
  margin: 0 auto;
  padding: 0;
}
.foot_menu ul li {
  float: left;
  margin: 0;
}
.foot_menu ul li a {
  color: #fff;
}
.foot_menu ul li a :hover {
  text-decoration: none;
  color: #e64c47;
}
.info {
  text-align: center;
  color: #ccc;
  font-size: 13px;
  margin-top: 89px;
}
.copyright {
  text-align: center;
  color: #ccc;
  font-size: 13px;
  margin-top: 89px;
  margin-bottom: 74px;
}
.input-text {
  display: block;
  padding-left: 14px;
  width: 100%;
  height: 45px;
  margin-bottom: 8px;
  margin-top: 8px;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #fafafa;
  box-shadow: 0 -0.5px 1px 0 #a9a9a9;
  font-family: NanumSquare;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #bbbbbb;
}
.input-text-label {
  font-family: NanumSquareOTFB;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #606060;
}
.input-radio {
  display: inline-block;
  margin-right: 16px;
  height: 40px;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #fafafa;
  box-shadow: 0 -0.5px 1px 0 #a9a9a9;
  width: 105px;
}
.input-checkbox {
  width: 25px;
  height: 25px;
  margin-top: 15px;
  margin-right: 10px;
  vertical-align: bottom;
  font-family: NanumSquareOTFB;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #606060;
  border-radius: 3px;
  border: solid 1px #979797;
}
.notice {
  margin-left: 14px;
  display: inline-block;
  height: 16px;
  font-family: NanumSquare;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #606060;
  margin-bottom: 20px;
}
.notice-right {
  display: none;
  color: #0076ff;
}
.notice-wrong {
  display: none;
  color: #fe3824;
}
