{% extends "mobile/user/mypage/base.html" %}
{% load compile_static %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'less/mobile/mypage/account.less'|compile %}">
{% endblock %}

{% block mypage %}
    <div class="greeting">{{ request.user.profile.full_name }} 님 안녕하세요!</div>
    <div class="profile-pic"><img src="{% if request.user.profile.photo %}
                                        {{ request.user.profile.photo.url }}{% else %}
                                        {% static 'image/icon/profile_empty.png' %}{% endif %}"
                                  alt="">
    <div class="camera"><img src="{% static 'image/icon/profile_photo.png' %}" alt=""></div>
    </div>
    <input type="file" id="profile-input" style="display: none;">
    <div class="fullname">{{ request.user.profile.full_name }}</div>
    <div class="join_date">{{ request.user.date_joined|date:"Y/m/d" }} 가입</div>
    <div class="email">{{ request.user.email }}</div>
    <div class="birthday">{{ request.user.profile.birthday|date:"Y.m.d" }}</div>
    <div class="sex">{{ request.user.profile.gender|yesno:"남자,여자" }}</div>
    {# TODO: Add nationality #}
{#    <div class="nationality">{{ request.user.profile.nationality }}</div>#}
    <div class="hr"></div>
    <a href="{% url 'mypage' page_type="profile" %}" class="edit-profile">프로필 수정</a>
        <div class="profile_modal">
        <div class="original-wrapper"> <img id="original_profile"></div>
        <div class="btn-area">
            <button class="cancel-btn" id="cancel_profile" onclick="cancel_profile()">취소</button>
            <button class="submit-btn" id="save_profile" onclick="save_profile()">저장하기</button>
        </div>
    </div>
{% endblock %}
