{% extends "mobile/user/mypage/base.html" %}
{% load compile_static %}
{% load static %}
{% load custom_filters %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'less/mobile/mypage/alarm.less'|compile %}">
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block mypage %}
    <div class="section-title">
        <div class="show-toggle">
            {# 전체보기 #}<img src="{% static 'image/icon/arrow_down_white.png' %}" alt="">
        </div>
    </div>
    {% for alarm in alarm_list %}
        {% if alarm.landing %}<a href="{{ alarm.landing }}">{% endif %}
        <div class="alarm-content {% if forloop.counter > 6 %}hidden{% endif %}"> {{ alarm.contents }} </div>
    {% if alarm.landing %}</a>{% endif %}
    {% endfor %}
{% endblock %}
