.main-container, .head-container {
    width: 880px;
    margin: auto;
}

.main-container {
    padding-top: 5px;
}

.sup-title-peach {
    color: #E64C47;
    margin: 0px 0px 0px 3px;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

.sub-title {
    margin-top: 0px;
    margin-bottom: 22px;
    height: 32px;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
}

.gradation-bar {
    width: 100%;
    background: linear-gradient(to right, #F2AD8A, #E64C47);
    border-radius: 8px;
    border: 1px;
    border-color: #DDD9D9;
    border-style: solid;
    height: 60px;
    margin-bottom: 8px;
    position: relative;
}

.icon {
    width: 30px;
    position: absolute;
    top: 15px;
    left: 2%;
}

.find-guide-form, .find-guide-form2 {
    width: 33.5%;
    height: 36px;
    border-radius: 3px;
    position: absolute;
    top: 12px;
    left: 10.9%;
    border-style: none;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    font-size: 20px;
    padding-left: 22px;
    color: white;
    background: #ffffff;
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.find-guide-form2 {
    position: absolute;
    left: 55.6%;
}

.arrow-down {
    float: right;
    width: 20px;
    position: absolute;
    top: 24px;
    right: 3%;
}

.arrow-right {
    position: absolute;
    right: 48.75%;
}

.traveler_cntpicker{
    z-index: 100;
    display: none;
    position: absolute;
    top:48px;
    left: 10.9%;
    width: 78%;
    height: 235px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #d4d4d4;
    font-size: 20px;
}

.traveler_cntpicker div{
    margin: 32px 0px 17px 26px;
}

.adult_num, .child_num, .toddler_num{margin-right: 46px;}
.adult_num, .toddler_num{margin-left: 122px;}
.child_num{margin-left: 103px;}

.increase_button, .decrease_button{
    text-align:center;
    font-size:25px;
    display:inline-block;
    margin-left: 17px;
    width: 29px;
    height: 29px;
    border:1px solid;
    border-radius: 14.5px;
    cursor:pointer;
}

.search-filter-list-wrapper {
    font-size: 16px;
    margin-top: 40px;
}

.search-filter-list {
    display: inline-block;
    float: right;
}

.search-filter-list span {
    margin-left: 34px;
    cursor: pointer;
}

.req-card-wrapper {
    overflow-y: hidden;
    white-space: nowrap;
    margin: 112px 0px 0px 0px;
}

.req-card {
    position: relative;
      width: 880px;
  height: 184px;
  border-radius: 8px;
  border: solid 1px #ddd9d9;
    margin-bottom: 20px;
}

.req-card div{
    position: absolute;
}



.like-button{
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    width: 27px;
    height: 24px;
    border: none;
}

.like-message-wrapper{
    width: 430px;
    position: fixed;
    bottom: 26px;
    left: 26px;
    z-index: 1000;
}

.like-message{
    position:relative;
    display: inline-block;
    width: 430px;
    height: 126px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #979797;
    margin-bottom: 10px;
}

.like-message-text{
    display: block;
    font-size: 20px;
    padding: 37px 0px 0px 89px;
}

.order-active{
    font-weight: 800;
}

#id_city{width: 78%;}


.pagination-wrapper {
    display: inline-block;
    margin: 53px auto 0px auto;
    width: 240px;
    font-size: 16px;
}

.pagination-wrapper a{
    float: left;
    color: black;
}

.pagination-wrapper a:hover{
    color: #e65c47;
}

.pagination-wrapper span{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #979797;
    padding-top: 3px;
    margin: 0px 6px;
}

.page-up-button {
    display: none;
}

#ui-datepicker-div {
    display: none;
}

.ui-datepicker {
    position: absolute !important;
    top: 405px !important;
    left: 50% !important;
    margin-left: -344px; /* approx half the height of the datepicker div - adjust based on your size */
    width: 689px;
    height: 430px;
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    text-align: center;
    background-color: white;
}

.ui-datepicker a {
    color: black;
}

.ui-datepicker-header {
    width: 235px;
    margin: auto;
    margin-top: 30px;
    font-size: 32px;
}

.ui-datepicker-prev {
    float: left;
    color: #606060 !important;
}

.ui-datepicker-next {
    float: right;
    color: #606060 !important;
}

.ui-datepicker-calendar {
    margin-top: 20px;
    width: 95%;
    height: 75%;
    font-size: 24px;
}
.ui-state-default {
    display: block;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    margin: auto;
    padding-top: 10px;
}

a.ui-state-default:hover {
    background-color: #e64c47;
    color: white;
}

.ui-datepicker-unselectable {
    color: #d3d3d3;
}

.select2-drop{
    width: 689px !important;
    margin: 1px 0px -1px 0px;
}

.select2-container-multi .select2-choices .select2-search-field input{
    padding-top: 3px;
    color: w;
}
.liked{
    background: url(../../../image/icon/heart_full.png);
    background-size: cover;
}

.unliked{
    background: url(../../../image/icon/heart_white_shadow.png);
    background-size: cover;
}

.user-name{
      font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
    top: 126px;
    left: 50px;
    width: 100px;
}

.travel-date{
      font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
    top: 54px;
    left: 189px;
}

.travel-city{
      font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
    top: 83px;
    left: 189px;
}

.traveler-num{
      font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
    top: 125px;
    left: 189px;
}

.user-pic{
      width: 79px;
  height: 79.5px;
    border-radius: 39.5px;
    position: absolute;
    top: 33px;
    left: 60px;
}

.cost{
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
    bottom: 17px;
    right: 25px;
}

.cost span{
    color: #dd3537;
}

.offer-button{
  width: 167px;
  height: 48px;
  border-radius: 8px;
  background-color: #e64c47;
    top: 67px;
    right:25px;
      font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
    cursor: pointer;
    padding-top: 13px;
    text-align: center;

}