.contents-wrapper{
    padding-top: 9px;
}

.template-top span{
    margin-right: 84px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 18px;
}

.template-top span.clicked{
    color: #e64c47;
    font-weight: bold;
}

hr{
    border: solid 1px #979797;
    margin: 18px 0 25px 0;
}

.overlay{
    display: none;
}

.title{
    font-size: 28px;
    margin-bottom: 25px;
}

.accom-form-wrapper{
    margin-left: 20px;
    height: 741px;
}

.guide-form-wrapper{
    width: 840px;
    margin-left: 20px;
    height: 793px;
}

.guide-title-form{
    width: 760px;
}

.guide-photo, .guide-content{width: 799px;}

.accom-comment, .guide-comment{margin: 15px 0 15px 0; text-align: left}