img.photo {
    vertical-align: inherit !important
}

.main-container, .head-container {
    width: 704px;
    margin: auto;
}

.main-container {
    padding-top: 5px;
}

.sup-title-peach {
    color: #E64C47;
    margin: 0px 0px 3px -3px;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

.sub-title {
    margin-top: 0px;
    margin-bottom: 22px;
    height: 32px;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
}

.req-card-wrapper {
    overflow-y: hidden;
    white-space: nowrap;
    margin: 112px 0px 0px 0px;
}

.req-card {
    position: relative;
    width: 100%;
    height: 184px;
    border-radius: 8px;
    border: solid 1px #ddd9d9;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

}

.req-card div {
    position: absolute;
}

.user-name {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    top: 126px;
    left: 50px;
    width: 100px;
}

.travel-date {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    top: 54px;
    left: 189px;
}

.travel-city {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    top: 83px;
    left: 189px;
}

.traveler-num {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    top: 125px;
    left: 189px;
}

.user-pic {
    width: 79px;
    height: 79.5px;
    border-radius: 39.5px;
    position: absolute;
    top: 33px;
    left: 60px;
}

.req-cost {
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    bottom: 17px;
    right: 25px;
}

.req-cost span {
    color: #dd3537;
}

.trans-light {
    top: 24px;
    left: 189px;
}

.accom-light {
    top: 24px;
    left: 275px;
}

.guide-light {
    top: 24px;
    left: 337px;
}

.guide-activated {
    width: 10px;
    height: 10px;
    background-image: linear-gradient(to right, #f2ad8a, #e64c47);
    border-radius: 5px;
}

.guide-deactivated {
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 5px;
}

.guide-deactivated:before {
    width: 100%;
    height: 100%;
    top: -1px;
    left: -1px;
    position: absolute;
    z-index: -1;
    background: linear-gradient(to right, #f2ad8a, #e64c47);
    content: '';
    border-radius: 5px;
    padding: 5px;
}

.trans-light span, .guide-light span, .accom-light span {
    display: block;
    margin-top: -1px;
    margin-left: 15px;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;

}

.liked {
    background: url(../../../image/icon/heart_full.png);
    background-size: cover;
}

.unliked {
    background: url(../../../image/icon/heart_white_shadow.png);
    background-size: cover;
}

.like-button {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    width: 27px;
    height: 24px;
    border: none;
}

.request-wrapper{
    font-size: 18px;
    width: 365px;
    position: absolute;
    top: 126px;
    left: 0;
    z-index: 100;
    height: 100%;
    background-color: rgba(216, 216, 216, 0.18);
    box-shadow: 0 2px 4px 0 rgba(216, 216, 216, 0.5);
    -webkit-box-shadow: 0 2px 4px 0 rgba(216, 216, 216, 0.5);
    -moz-box-shadow: 0 2px 4px 0 rgba(216, 216, 216, 0.5);
}

.request-bar {
    cursor: pointer;
    position: relative;
    max-width: 375px;
    width: 92.6%;
    height: 44px;
    background-image: linear-gradient(to right, #f2ad8a, #e64c47);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 9px 0px 0px 11px;
    margin: 17.4px auto 12px auto;
}

.request-content, .accom-search, .guide-search {
    background-color: white;
    width: 92.6%;
    max-width: 375px;
    margin: auto;
    padding-top: 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    height: calc(100% - 220px);
    overflow: scroll;
    overflow-x: hidden;
}

.request-content{
    padding-bottom: 10px;
}


.accom-search, .guide-search{
    height: auto;
    max-height: calc(100% - 220px);
}

.request-head {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #e64c47;
    margin: 16px 0px 5px 10px;
}

.request-wrapper hr {
    margin: 0px 10px;
    border-top: solid 1px #979797;
}

.red-circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #e64c47;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 11px;
}

.request-wrapper span {
    margin: 16px 0px 0px 20px;
}

.request-wrapper .row {
    padding-top: 1px;
    width: 320px;
    margin: 15px 0px 0px 43px;
}

.request-wrapper .comment {
    width: 90%;
    border-radius: 8px;
    border: solid 1px #979797;
    padding: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    color: #000000;
    margin: 20px auto 40px auto;
}

.request-guide div {
    margin: 15px 0px 15px 20px;
}

.request-guide span {
    margin: 0px;
    color: #dd3537;
    font-weight: bold;
    text-decoration: underline;
}

.request-guide .row div {
    margin: 0px;
}

.request-guide .row {
    margin: -10px 0px 15px 29px;
}

.request-guide .red-circle {
    margin-right: 11px !important;
}

.arrow {
    width: 20px;
    position: absolute;
    top: 12px;
    right: 12px;
}

.rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);

}

.status-bar-wrapper {
    margin: 15px 0px 30px 3px;
}

.status-bar-wrapper span {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #e64c47;
}

.status-bar {
    width: 600px;
    height: 76px;
    margin: 15px auto 0px auto;
    position: relative;
}

.big-circle {
    position: absolute;
    width: 46px;
    height: 46px;
    background-color: #ffffff;
    top: 0px !important;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 23px;
    z-index: 99;
}

.guided {
    cursor: pointer;
}

.big-circle.guided {
    border: solid 3px #e64c47;
}

.big-circle.unguided {
    border: solid 3px #979797;
}

.trans.big-circle {
    left: 21px;
}

.accom.big-circle {
    left: 198px;
}

.guide.big-circle {
    left: 374px;
}

.cost.big-circle {
    left: 550px;
}

.status-bar-wrapper .trans, .status-bar-wrapper .accom, .status-bar-wrapper .guide, .status-bar-wrapper .cost {
    display: inline-block;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    position: absolute;
    top: 57px;
}

.trans.text {
    left: 3px;
}

.accom.text {
    left: 201px;
}

.guide.text {
    left: 367px;
}

.cost.text {
    left: 543px;
    width: 71px;
    height: 20px;
}

.text {
    cursor: pointer
}

.text.unguided {
    cursor: default;
    color: #979797;
}

.horizontal-line {
    width: 533px;
    border: solid 2px #979797;
    position: absolute;
    top: 22px;
    left: 39px;
}

.selected {
    background-color: #e64c47;
}

.search-wrapper {
    width: 365px;
    position: absolute;
    top: 126px;
    right: 0;
    z-index: 100;
    height: 100%;
    background-color: rgba(216, 216, 216, 0.18);
    box-shadow: 0 2px 4px 0 rgba(216, 216, 216, 0.5);
    -webkit-box-shadow: 0 2px 4px 0 rgba(216, 216, 216, 0.5);
    -moz-box-shadow: 0 2px 4px 0 rgba(216, 216, 216, 0.5);
}

.search-bar {
    position: relative;
    max-width: 375px;
    width: 92.6%;
    height: 44px;
    background-image: linear-gradient(to right, #f2ad8a, #e64c47);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 9px 0px 0px 11px;
    margin: 17.4px auto 12px auto;
}

.search-wrapper .trans, .search-wrapper .accom, .search-wrapper .guide, .search-wrapper .cost {
    display: none;
}

.search-wrapper .activated, .template.activated {
    display: block !important;
}

.search-wrapper .trans .search-bar, .search-wrapper .cost .search-bar {
    background: #979797;
}

.search-wrapper .trans .content, .search-wrapper .cost .content, .accom-search .content, .guide-search .content {
    height: 129px;
    max-width: 375px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin: auto;
    padding-top: 53px;
}

.search-wrapper .trans .content, .search-wrapper .cost .content{
    width: 92.6%;
}

.accom-search .content, .guide-search .content{
    width: 100%;
}

.search-form {
    width: 244px;
    height: 42px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #979797;
    margin: 16px 14px 10px 18px;
    font-size: 20px;
    padding: 10px;
}

.search-button {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 8px;
    border: solid 1px #979797;
    padding: 10px;
    cursor: pointer;
}

.search-button img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.loading {
    display: block;
    margin: 10px auto;
}

.display-none {
    display: none;
}

.result-number {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e64c47;
    margin-left: 17px;
}

.result-card {
    position: relative;
    width: 90%;
    height: 232px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #979797;
    margin: 10px 0px 10px 17px;
    padding: 14px 10px 11px 10px;
    cursor: pointer;
}

.result-card:hover {
    box-shadow: 0 0 4px 2px #e64c47;
    border: solid 1px #e64c47;
}

.result-title {
    font-size: 20px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.pagination {
    height: 30px;
    text-align: center;
    margin: 15px 0px;
}

.page {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    text-shadow: 0 1px 0 rgba(255, 254, 255, 0.5);
    padding-top: 5px;
    margin: 0px 5px;
    border: solid 1px #979797;

}

.page.active {
    color: black;
    cursor: pointer;
}

.page.inactive {
    color: #bbbbbb;
}

.page-prev, .page-next {
    display: inline-block;
    width: 10px;
    line-height: 16px;
    cursor: pointer;
}

.template-wrapper {
    width: 100%;
    padding: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: rgba(216, 216, 216, 0.18);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.trans-form {
    padding: 20px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    border: none;
    width: 100%;
    height: 373px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.trans-form-button, .accom-form-button, .cost-form-button, .guide-form-button {
    width: 219px;
    height: 64px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #e64c47;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #979797;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    cursor: pointer;
    margin: 15px 0 0 448px;
}

.template {
    display: none;
}

.accom-add-button, .cost-add-button, .guide-add-button {
    width: 280px;
    height: 65px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #e64c47;
    border: solid 1px #979797;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-align: center;
    padding-top: 19px;
    cursor: pointer;
    margin-top: 20px;
}

.template-wrapper hr {
    border-top: solid 1px #979797;
}

.accom-form-wrapper {
    width: 100%;
    height: 614px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    padding: 20px 0px 0px 20px;
    position: relative;
}

.accom-form-wrapper input {
    height: 34px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #979797;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    padding: 5px 0px 0px 11px;
    margin-bottom: 10px;
}

.accom-date {
    width: 587px;
    margin-bottom: 10px;
}

.accom-type {
    width: 111px;
    vertical-align: top;

}

.accom-title-form {
    width: 520px;
    margin-left: 3px;
}

.accom-address {
    width: 637px;
    margin-right: 6px;
    cursor: pointer;
}

.accom-delete, .guide-delete {
    width: 20px;
    height: 20px;
    object-fit: contain;
    opacity: 0.3;
    margin: -6px 0px 0px 7px;
    cursor: pointer;
    position: relative;
    z-index: 20;
}

.accom-photo-wrapper {
    width: 623px;
    height: 131px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.accom-content {
    padding: 12px;
    width: 623px;
    height: 250px !important;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    border: none !important;
    font-size: 20px;
    line-height: 1.35;
    border: none;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(255, 255, 255, 0.6);
    margin: -20px 0 0 -20px;
}

.overlay .new, .overlay .load {
    width: 230px;
    height: 65px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #e64c47;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #979797;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 19px;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    cursor: pointer;
}

.overlay .new {
    right: 90px;
}

.overlay .load {
    left: 90px;
}

select {
    width: 138px;
    height: 34px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #979797;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    padding-left: 7px;
}

option:disabled {
    display: none;
}

option {
    border-radius: 5px;
}

.accom-photo-wrapper {
    padding: 15px 12px;
    text-align: center;
}

.photo-title {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #979797;
}

.photo {
    position: relative;
    display: inline-block;
    width: 125px;
    height: 77px;
    opacity: 0.75;
    background-color: #696969;
    margin: 10px 10px 0px 10px;
    -webkit-background-size: cover;
    background-size: cover;
}

.add_button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 26px;
    left: 48px;
    cursor: pointer;
}

.accom-save-button, .guide-save-button {
    display: inline-block;
    bottom: 15px;
    right: 20px;
    width: 84px;
    height: 44px;
    border-radius: 8px;
    border: solid 1px #979797;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #979797;
    padding-top: 10px;
}

.accom-comment, .guide-comment {
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #979797;
    bottom: 26px;
    right: 116px;
    margin: 20px 12px 0 32px;
}

.guide-comment {
    margin-left: 15px;
}

.delete-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 480px;
    height: 298.2px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 #ffffff;
    -webkit-box-shadow: 0 0 9px 0 #ffffff;
    -moz-box-shadow: 0 0 9px 0 #ffffff;
    z-index: 1000;
    margin-top: -150px;
    margin-left: -240px;
    text-align: center;
}

.delete-title {
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-top: 93px;
}

.delete-out {
    width: 23.3px;
    height: 23.3px;
    opacity: 0.29;
    position: absolute;
    top: 31px;
    right: 31px;
    cursor: pointer;
}

.delete-ok, .delete-no {
    color: white;
    font-size: 20px;
    display: inline-block;
    width: 157.6px;
    height: 51.3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding-top: 12px;
    cursor: pointer;
    margin: 56px 8px 0 8px;
}

.delete-ok {
    background-color: #e64c47;
}

.delete-no {
    background-color: #4a4a4a;
}

.allover {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

footer {
    margin: 0px;
}

.contents-wrapper {
    padding-bottom: 20px;
    overflow-y: auto;
    height: 100%;
    margin-top: 51px;
    padding-top: 60px;
    width: 62%;
}

.address-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -400px 0 0 -405px;
    width: 811px;
    height: 800px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #979797;
    z-index: 1000;
}

.address-title {
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin: 77px 0 0 115px;
}

.address-modal span {
    display: block;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d4d4d;
    margin: 14px 0 0 115px;
}

.address-modal-form {
    display: block;
    width: 581px;
    height: 55px;
    margin: 45px 0 0 115px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #979797 !important;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.address-ok {
    width: 219px;
    height: 65px;
    border-radius: 8px;
    background-color: #e64c47;
    border: solid 1px #979797;
    position: absolute;
    bottom: 16px;
    right: 41px;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
}

.map {
    width: 725px;
    height: 439px;
    margin: 25px auto 0 auto;
}

.accom-save-button.activated, .guide-save-button.activated {
    color: #e64c47;
    border: solid 1px #e64c47;
    cursor: pointer;
}

.card-selected {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.52);
    top: 0px;
    left: 0px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    padding-top: 100px;
}

.card-selected span {
    display: inline-block;
    width: 84px;
    height: 44px;
    border-radius: 8px;
    border: solid 2px #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 11px;
}

.cost-type {
    width: 161px;
    height: 33px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #979797;

}

.cost-form-wrapper {
    padding: 19px 0 0 20px;
    width: 672px;
    height: 110px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    position: relative;
}

.cost-delete {
    width: 20px;
    height: 20px;
    object-fit: contain;
    opacity: 0.3;
    margin: -6px 0px 0px 453px;
    cursor: pointer;
    position: relative;
    z-index: 20;
}

.cost-content {
    width: 435px;
    height: 33px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #979797;
    margin: 10px 5px 0px 0px;
    padding: 12px 12px;
    font-size: 20px;
}

.cost-cost {
    width: 196px;
    height: 33px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #979797;
    padding: 10px 33px 10px 12px;
    text-align: right;
    font-size: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.won {
    position: absolute;
    width: 19px;
    height: 22px;
    font-size: 20px;
    margin-top: 12px;
    margin-left: -30px;
}

.guide-date {
    width: 211px;
    height: 42px;
}

.guide-form-wrapper {
    width: 637px;
    height: 648px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    margin: 10px 0 10px 37px;
    padding: 20px 0 0 20px;
    position: relative;
}

.guide-form-wrapper .overlay {
    width: 100%;
    height: 100%;
}

.guide-title-form {
    width: 576px;
    height: 33px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #979797;
    padding: 10px;
    font-size: 20px;
}

.guide-form-wrapper .new {
    right: 76px;
}

.guide-form-wrapper .load {
    left: 76px;
}

.guide-photo {
    position: relative;
    width: 605px;
    height: 377px;
    margin: 10px 0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 218px;
    background-size: cover;
}

.guide-content {
    width: 605px;
    height: 127px;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    font-size: 20px;

}

.add-photo-button {
    width: 250px;
    cursor: pointer;
    margin: auto;
}

.photo-pic {
    width: 50px;
    height: 37px;
    margin: -12px 15px 0 0;
}

.add-photo-button span {
    display: inline-block;
    font-size: 30px;
    color: #979797;

}

.guide-photo-preview {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

}

.result-photo {
    width: 281px;
    height: 172px;
    object-fit: cover;
    margin-top: 9px;
}

.wo {
    text-align: center;
    margin-bottom: 30px;
}

.wo span {
    text-align: left;
    font-size: 20px;
    color: #565656;
    display: block;
    margin-top: 20px;
    line-height: 1.5;
}

.wo-cancel, .wo-prev {
    display: inline-block;
    width: 280px;
    height: 65px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #b5b5b6;
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 16px;
    margin: 30px 15px;
    cursor: pointer;
}

.wo-cancel {
    background-color: #606060;
}

.wo-prev {
    background-color: #e64c47;
}

footer {
    display: none;
}

html, body {
    height: 100%;
    overflow-y: hidden;
}

/* hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
}

.search{
    height: 100%;
}