.nav-menubar {
  display: inline;
  width: 40px;
  position: absolute;
  top: 5px;
  right: -1px;
  padding: 10px;
}

.nav-bravepeach-logo-wrapper {
  margin: auto;
  width: 133.7px;
  height: 24.4px;
  position: static;
}

.nav-bravepeach-logo {
  width: 100%;
}

.nav-guide-search-dropdown {
  display: inline;
  width: 40px;
  padding: 12px;
  position: absolute;
  top: 3px;
  left: -1px;
}

.side_menu_wrapper {
  overflow: auto;
  position: absolute;
  right: 0;
  z-index: 1000;
  display: none;
  width: 82%;
  margin: auto;
  padding-top: 21px;
  height: 100vh;
  background-color: white;
}

.menu-profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0 0 3px;
  float: left;
  margin-left: 22px;
}

.menu-profile-name {
  font-size: 28px;
  margin-top: 14px;
  margin-left: 23px;
}

.menu-email {
  font-size: 15px;
  color: #606060;
  margin-left: 85px;
  padding-left: 20px;
  margin-top: 8px;
  display: block;
}

.trip-button, .logout-button {
  display: inline-block;
  width: 117px;
  height: 40px;
  border-radius: 8px;
  background-color: #e64c47;
  font-family: NanumSquare;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;
  margin: 16px 0 15px 20px;
}

.menu-list {
  display: block;
  padding-top: 22px;
  padding-left: 20px;
  padding-bottom: 50px;
  margin: 0;
  min-height: 100%;
  list-style: none;
  font-size: 20px;
  background-color: #e64c47;
  font-family: NanumSquare;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #ffffff;
}

.menu-list li {
  color: #ffffff;
  margin-bottom: 20px;
}

.menu-list li a {
  color: #ffffff;
}

.menu-list li img {
  display: inline-block;
  width: 14px;
  height: 10px;
}

.menu-list li img.turn {
  transform: rotate(180deg);
}

.menu-list li.folded {
  display: none;
}

.menu-list li.second {
  padding-left: 30px;
  margin-bottom: 10px;
}

.menu-list hr {
  margin: 13px 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #979797;
}

