@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css);

:root {
  --blush: #f2ad8a;
  --pastel-red: #e64c47;
  --greyish-brown: #404040;
  --white: #dbdbdb;
  --pale-red: #da4d44;
  --white-70: rgba(255, 255, 255, 0.7);
  --white-two: #ffffff;
  --white-three: #f6f6f6;
  --pastel-red-60: rgba(217, 104, 101, 0.6);
  --dark-sky-blue: #4a90e2;
  --greyish-brown-two: #4a4a4a;
  --warm-grey: #9c9c9c;
  --pale-grey: #ededef;
}

* {
  font-family: 'NanumSquare', 'Nanum Gothic', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none !important;
}

body {
  font-family: 'NanumSquare', 'Nanum Gothic', sans-serif;
  width: 375px;
  margin: auto;
  z-index: -1;
}

.line {
  width: 125px;
  height: 2px;
  border: solid 1px #bbbbbb;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
}

.line-long {
  width: 355px;
  margin: auto;
  border: solid 1px #e64c47;
}

.or {
  vertical-align: middle;
  display: inline-block;
  font-family: NanumSquare;
  margin: 35px 32px 35px 32px;
  width: 40px;
  height: 16px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: center;
  color: #000000;
}

.notice {
  height: 16px;
  font-family: NanumSquare;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #606060;
}
.notice-right {
  display: none;
  color: #0076ff;
}
.notice-wrong {
  display: none;
  color: #fe3824;
}

.input-text {		// Fullsize only
  width: 355px;
  height: 43px;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #fafafa;
  box-shadow: 0 -0.5px 1px 0 #a9a9a9;
  font-family: NanumSquare;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #bbbbbb;
  margin-bottom: 8px;
  padding-left: 14px;
}

.input-radio {
  clear: both;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  //box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #979797;
  vertical-align: middle;
  margin-top: -2px;

  :focus {
    outline: none;
  }
}

.input-select {
  width: 105px;
  height: 40px;
  padding-left: 14px;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #fafafa;
  box-shadow: 0 -0.5px 1px 0 #a9a9a9;
  font-family: NanumSquare;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #bbbbbb;
  margin: 8px 5px 8px 6px;
}

.input-checkbox {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  border: solid 1px #979797;
  vertical-align: middle;
  margin-top: -2px;
}


.disabled-link {
  background-color: #bbbbbb !important;
  cursor: default !important;
  pointer-events: none !important;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.nav-menubar{
  display: inline;
  width: 40px;
  position: absolute;
  top: 5px;
  right: -1px;
  padding: 10px;
}
.nav-bravepeach-logo{
  display: block;
  margin: auto;
  width: 133.7px;
  height: 24.4px;
  position: static;
}

.nav-guide-search-dropdown{
  display: inline;
  width: 40px;
  padding: 12px;
  position: absolute;
  top: 3px;
  left: -1px;
}

.side_menu_wrapper{
  position:relative;
  z-index: 1000;
  display: none;
  width: 90%;
  margin: auto;
  padding-top: 21px;
  height: 100vh;
  background-color: white;
  width: 100%;
}

.menu-profile-pic{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0px 0px 3px;
  float: left;
  margin-left: 22px;
}

.menu-profile-name{
  font-size: 28px;
  margin-top: 14px;
  margin-left: 23px;
}

.menu-email{
  font-size: 15px;
  color: #606060;
  margin-left: 85px;
  padding-left: 20px;
  margin-top: 8px;
  display: block;
}

.menu-list{
  padding: 0px;
  margin: 40px 36px 0px 28px;
  list-style: none;
  font-size: 20px
}

.menu-list li{
  padding-left: 7px;
}

.menu-list hr{
  margin: 13px 0px;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color:#979797;
}

.search_side_menu_wrapper {
  position: relative;
  z-index: 1000;
  display: none;
  margin: auto;
  padding-top: 24px;
  height: 100vh;
  font-size: 15px;
  color: black;
  width: 100%;
  background-color: white;
}

.search_side_menu_wrapper h1 {
  font-size: 20px;
  line-height: 32px;
  padding: 0px;
  margin: 0px;
  display: block;
}

.search_side_menu_wrapper h2 {
  font-size: 16px;
  line-height: 32px;
  padding: 0px;
  margin: 0px;
  display: block;
  color: #606060;
  margin-bottom: 27px;
}

.search_side_menu_wrapper input {
  display: block;
  margin: 30px 0px;
  border-width: 0px 0px 1px;
  width: 100%;
}

.search_side_menu_wrapper button {
  width: 100%;
  height: 57px;
  color: white;
  font-size: 12px;
  border-radius: 12px;
  background-color: #e64c47;
  border: none;
  margin-top: 100px;
  margin-bottom: 100px;
}

header{
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1000;
  padding-top: 10px;
  height: 45px;
}

.body-contents-wrapper {
  position: absolute;
  width: 375px;
  margin: 40px auto 0 auto;
}
