.contents-wrapper {
  width: 640px;
  margin: auto;

  img {
    width: 462px;
    margin: auto;
    display: block;
  }

  .greeting-msg {
    width: 594px;
    height: 120px;
    margin: auto;
    font-family: NanumSquare;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: center;
    color: #000000;

    &.greeting-name {
      margin-top: 30px;
    }
  }

  .greeting-contents {
    height: 64px;
    width: 640px;
    text-align: center;
    font-family: NanumSquare;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.29;
    letter-spacing: -0.5px;
    color: #000000;
    margin-top: 26px;
    margin-bottom: 60px;
  }

  .write-request {
    text-decoration: none;
    display: block;
    width: 429px;
    height: 114px;
    border-radius: 16px;
    background-color: #e64c47;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #bbbbbb;
    font-family: NanumSquare;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 114px;
    letter-spacing: -0.4px;
    color: #ffffff;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
  }

  .find-guide {
    text-decoration: none;
    display: block;
    width: 429px;
    height: 114px;
    border-radius: 8px;
    background-color: #606060;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #bbbbbb;
    font-family: NanumSquare;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 114px;
    letter-spacing: -0.4px;
    color: #ffffff;
    text-align: center;
    margin: auto;
    margin-bottom: 60px;
  }
}