.contents-wrapper {
  width: 355px;
  margin: auto;

  .login-title {
    color: #606060;
    font-family: NanumSquare;
    margin: 10px auto 10px auto;
    width: 100px;
    height: 30px;
    font-size: 20px;
    text-align: center;
  }

  .login-btn {
    display: block;
    width: 294px;
    height: 50px;
    margin: 12px auto 0 auto;
    padding-top: 16px;
    text-align: center;
    font-size: 16px;
    letter-spacing: -0.4px;
    color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    &.login-fb {
      background-color: #4990e2;
    }
    &.login-naver {
      background-color: #6ac601;
    }
    &.login-google {
      background-color: #ff9600;
    }
    &.login-bp {
      background-color: #e64c47;
    }
  }

  .login-label {
    height: 22px;
    font-family: NanumSquare;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #606060;
    margin-bottom: 20px;
  }

  .remember-wrapper {
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    display: block;
    margin-top: 15px;
    margin-bottom: 35px;
    text-align: right;

    .login-label {
      float: right;
      display: block;
      height: 25px;
      font-family: NanumSquare;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -0.5px;
      color: #606060;
      margin-bottom: 35px;
    }
  }

  .submit-login {
    width: 355px;
    height: 57px;
    border-radius: 12px;
    background-color: #e64c47;
    font-family: NanumSquare;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #ffffff;;
  }

  .login-question {
    height: 18px;
    font-family: NanumSquare;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #606060;
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;
  }

  .register-bp {
    display: block;
    margin: 0 auto 30px auto;
    width: 294px;
    height: 50px;
    border-radius: 12px;
    background-color: #e64c47;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #bbbbbb;
    font-family: NanumSquare;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 50px;
    letter-spacing: -0.4px;
    color: #ffffff;
    text-align: center;
  }

  .login-fail {
    height: 36px;
    font-family: NanumSquare;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #e64c47;
    margin-bottom: 10px;
  }

  .find-pw {
    display: block;
    height: 23px;
    font-family: NanumSquare;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #606060;
    border-bottom: solid 2px #606060;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }
}

.enroll-trip-button{
  display: none !important;
}