.contents-wrapper {
  width: 355px;
  margin: 30px auto;

  .form-wrapper {
    .profile-pic {
      width: 95px;
      height: 95px;
      background-color: #e64c47;
      display: inline-block;
      border-radius: 12px;

      #camera {
        margin-top: 60px;
        margin-left: 55px;
      }
      #profile-image {
        display: none;
        width: 95px;
        height: 95px;
        border-radius: 12px;

      }
    }

    .name-wrapper {
      float: right;
      display: block;

      #id_last_name, #id_first_name {
        padding-left: 14px;
        margin-left: 13px;
        margin-bottom: 5px;
        width: 244px;
        height: 45px;
        border-radius: 8px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: #fafafa;
        box-shadow: 0 -0.5px 1px 0 #a9a9a9;
        display: block;
      }

      ul#id_gender {
        display: block;
        list-style-type: none;
        margin: 22px 0 23px 0;
        height: 24px;
        padding-left: 15px;

        label {
          float: left;
          clear: none;
          display: block;
          height: 24px;
          font-family: NanumSquare;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #4a4a4a;
          margin-right: 57px;
        }
      }
    }
  }
  .info-wrapper {
    display: block;
    width: 100%;

    .email-notice {
      margin-bottom: 8px;
    }

    .register-btn {
      margin-top: 33px;
      width: 355px;
      height: 57px;
      border-radius: 12px;
      font-family: NanumSquare;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 57px;
      letter-spacing: -0.4px;
      color: #ffffff;
      text-align: center;
      display: block;

      &.cancel-register {
        background-color: #606060;
      }

      &.submit-register {
        background-color: #e64c47;
      }
    }
  }
}

.enroll-trip-button{
  display: none !important;
}

.profile_modal {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
  top: 45px;    // header size
  background-color: #ffffff;

  &.activated {
    display: block;
  }

  .jcrop-centered {
    display: inline-block;
    vertical-align: middle;
  }

  .original-wrapper {
    width: 300px;
    height: 300px;
    margin: 30px auto;
    border-radius: 16px;
    text-align: center;
    background-color: #979797;

    #original_profile {
      border-radius: 16px;
      margin: auto;
      max-width: 300px;
      max-height: 300px;
      object-fit: contain;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .btn-area {
    display: block;
    width: 375px;
    margin: 20px auto;
    font-family: NanumSquare;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;

    .cancel-btn {
      color: #ffffff;
      display: block;
      margin: auto;
      //margin-left: 50px;
      width: 210px;
      height: 55px;
      border-radius: 8px;
      background-color: #606060;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      border: solid 1px #b5b5b6;
    }

    .submit-btn {
      color: #ffffff;
      margin-top: 20px;
      width: 210px;
      height: 55px;
      border-radius: 8px;
      background-color: #e64c47;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      border: solid 1px #979797;
    }
  }
}
