.contents-wrapper {
  width: 100%;
  padding: 0 20px 0 20px;
  margin-top: 30px;

  .form-wrapper {
    .profile {
      width: 190px;
      height: 190px;
      background-color: #888888;
      display: inline-block;
    }

    .name-wrapper {
      float: right;
      display: block;

      #id_last_name, #id_first_name {
        padding-left: 28px;
        margin-left: 26px;
        margin-bottom: 10px;
        width: 488px;
        height: 90px;
        border-radius: 16px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: #fafafa;
        box-shadow: 0 -0.5px 1px 0 #a9a9a9;
        display: block;
      }

      ul#id_gender {
        display: block;
        list-style-type: none;
        margin: 24px 0 25px 0;
        height: 48px;
        padding-left: 30px;

        label {
          float: left;
          clear: none;
          display: block;
          height: 48px;
          font-family: NanumSquare;
          font-size: 32px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #4a4a4a;
          margin-right: 114px;
        }
      }
    }
  }
  .info-wrapper {
    display: block;
    width: 100%;

    .email-notice {
      margin-bottom: 16px;
    }

    .register-btn {
      margin-top: 66px;
      width: 710px;
      height: 114px;
      border-radius: 24px;
      font-family: NanumSquare;
      font-size: 30px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 114px;
      letter-spacing: -0.4px;
      color: #ffffff;
      text-align: center;

      &.cancel-register {
        display: block;
        background-color: #606060;
      }

      &.submit-register {
        background-color: #e64c47;
      }
    }
  }
}
