.register-title {
  color: #606060;
  font-family: NanumSquare;
  margin: 10px auto 10px auto;
  width: 100px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

.register-wrapper {
  margin-bottom: 30px;

  a {
    display: block;
    width: 294px;
    height: 50px;
    margin: 12px auto 0 auto;
    padding-top: 16px;
    text-align: center;
    font-size: 16px;
    letter-spacing: -0.4px;
    color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
  }

  .register-fb {
    background-color: #4990e2;
  }
  .register-naver {
    background-color: #6ac601;
  }
  .register-google {
    background-color: #ff9600;
  }
  .register-bp {
    background-color: #e64c47;
  }
}

.already-text {
  display: block;
  height: 18px;
  font-family: NanumSquare;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #606060;
  margin: auto;
  text-align: center;
}

.login {
  width: 294px;
  height: 50px;
  display: block;
  text-align: center;
  border-radius: 12px;
  background-color: #e64c47;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #bbbbbb;
  font-family: NanumSquare;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #ffffff;
  margin: 18px auto 20px auto;
}

.enroll-trip-button{
  display: none !important;
}