.title {
  width: 660px;
  height: 40px;
  border-radius: 8px 8px 0 0;
  background-color: #e64c47;
  border: solid 1px #e64c47;
  font-family: NanumSquare;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 16px;
}
.payment-header {
  font-family: NanumSquare;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.payment-body {
  font-family: NanumSquare;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.payment-date {
  display: inline-block;
  width: 111px;
}
.payment-guide {
  display: inline-block;
  width: 82px;
}
.payment-travel {
  display: inline-block;
  width: 133px;
}
.payment-location {
  display: inline-block;
  width: 174px;
}
.payment-money {
  display: inline-block;
  width: 144px;
  text-align: right;
  padding-right: 10px;
}
.hr {
  width: 660px;
  height: 2px;
  border: solid 1px #979797;
  margin: 10px 0 10px 0;
}
.payment-empty {
  display: block;
  margin: 30px 0 30px 0;
  font-family: NanumSquareOTFR;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.empty {
  height: 30px;
  display: block;
}
