.page-header {
  width: 660px;
  height: 40px;
  border-radius: 8px 8px 0 0;
  background-color: #e64c47;
  border: solid 1px #e64c47;
  padding: 0 16px 0 16px;
}
.page-header .header-title {
  height: 18px;
  font-family: NanumSquare;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: normal;
  color: #ffffff;
}
.page-header .show-all {
  float: right;
  height: 18px;
  font-family: NanumSquare;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 4px;
  letter-spacing: normal;
  color: #ffffff;
}
.page-contents .review-wrapper {
  margin-top: 24px;
}
.page-contents .review-wrapper.hidden {
  display: none;
}
.page-contents .review-wrapper .profile-area .pic {
  width: 64px;
  height: 64px;
  margin: auto;
}
.page-contents .review-wrapper .profile-area .pic img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
.page-contents .review-wrapper .profile-area .name {
  margin-top: 18px;
  height: 21px;
  font-family: NanumSquare;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.page-contents .review-wrapper .contents-area .rating .rating-img {
  height: 29px;
  display: inline-block;
  margin-right: 6px;
}
.page-contents .review-wrapper .contents-area .write_date {
  float: right;
  height: 20px;
  font-family: NanumSquare;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.page-contents .review-wrapper .contents-area .review-content {
  margin: auto;
  margin-bottom: 20px;
  width: 500px;
  height: 63px;
  font-family: NanumSquare;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
  overflow-y: hidden;
}
.space {
  height: 38px;
}
.hr {
  margin: auto;
  width: 660px;
  height: 2px;
  border: solid 1px #979797;
}
.empty-contents {
  margin: 24px auto;
  width: 500px;
  height: 63px;
  font-family: NanumSquare;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 63px;
  letter-spacing: normal;
  color: #000000;
  text-align: center;
  vertical-align: middle;
}
