<!DOCTYPE html>
{% load widget_tweaks %}
{% load static %}
{% load compile_static %}

<html>
<head>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <meta charset="UTF-8">
    <title>{% block title %}Bravepeach{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.placecomplete.css' %}">
    <link rel="stylesheet" href="{% static 'less/mobile/common.less'|compile %}">
    <link rel="stylesheet" href="{% static 'css/mobile/guide/base.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/sweetalert2/6.4.3/sweetalert2.min.css">
    {% block css %}{% endblock %}

    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApQSB8qcQB_Xda5MAmK18NdbmDIKjUbKM&libraries=places"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/dist/typeahead.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead-addresspicker/0.1.4/typeahead-addresspicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/sweetalert2/6.4.3/sweetalert2.min.js"></script>
    <script src="{% static 'js/select2.js' %}"></script>
    <script src="{% static 'js/jquery.placecomplete.js' %}"></script>
    <script src="{% static 'js/mobile/header.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    {% block js %}{% endblock %}
</head>
<body>
<header class="mobile-header">
    <img class="nav-menubar" src="{% static 'image/icon/menu_bar.png' %}" alt="메뉴바" onclick="mobileMenu()">
    <div class="nav-bravepeach-logo-wrapper"><img class="nav-bravepeach-logo" src="{% static 'image/icon/logo_bravepeach.png' %}" alt="용감한 로고"></div>
    <img class="nav-guide-search-dropdown" src="{% static 'image/icon/Search_Icon.png' %}" alt="검색 아이콘" onclick="mobileSearch()">

    <div class="side_menu_wrapper">
        <img class="menu-profile-pic" src="{% if request.user.profile.photo %}
                                            {{ request.user.profile.photo.url }} {% else %}
                                            {% static 'image/icon/profile_empty.png' %} {% endif %}"
             alt="프로필">
        <div style="margin-top: 8px">
            {% if request.user.is_authenticated %}
                <span class="menu-profile-name">{{request.user.profile.full_name}}</span>
                <span class="menu-email">{{request.user.username}}</span>
                <a class="trip-button" href="{% url 'index' %}">여행자 하기</a>
                <a class="logout-button" href="{% url 'logout' %}">로그아웃</a>

            {% else %}
                <a class="login-button" href="{% url 'login' %}?next={% url 'guide_index' %}">로그인</a>
                <a class="register-button" href="{% url 'register' %}">회원가입</a>
            {% endif %}
        </div>
        <ul class="menu-list">
            {% if request.user.is_authenticated %}
                <li><a href="">여행자 찾기</a></li>
                <li><a href="">알림판</a></li>
                <li>일정관리</li>
                <li class="offer folding">요청서/견적서 <img src="{% static 'image/icon/arrow_down_white.png' %}" alt="V"></li>
                <li class="offer folded second"><a href="{% url 'guide_request' %}?type=request">받은 요청서</a></li>
                <li class="offer folded second"><a href="{% url 'guide_request' %}?type=zzim">찜한 요청서</a></li>
                <li class="offer folded second"><a href="{% url 'guide_request' %}?type=offer">보낸 견적서</a></li>
                <li class="adjust folding">정산관리 <img src="{% static 'image/icon/arrow_down_white.png' %}" alt="V"></li>
                <li class="adjust folded second"><a href="{% url 'guide_adjust' %}?type=revenue">수익내역</a></li>
                <li class="adjust folded second"><a href="{% url 'guide_adjust' %}?type=expect">수익예정내역</a></li>
                <li class="adjust folded second"><a href="{% url 'guide_adjust' %}?type=method">입금방식설정</a></li>
                <li>후기/여행기</li>
                <li>메세지</li>
            {% else %}
                <li><a href="{% url 'index' %}">여행자 하기</a></li>
                <hr>
            {% endif %}
        </ul>
    </div>

    <div class="search_side_menu_wrapper">
        <h1>가이드 찾기</h1>
        <span>원하는 지역의 가이드를 검색해보세요!</span>

        위치
        {{ form.city |add_class:"location_form_main"|attr:"placeholder:목적지, 도시명, 주소"}}
        날짜
        {{ form.travel_begin_at |add_class:"find-guide-form datepicker1"|attr:"readonly"|attr:"placeholder:출국일"}}
        {{ form.travel_end_at |add_class:"find-guide-form datepicker2"|attr:"readonly"|attr:"placeholder:입국일"}}
        인원
        {{ form.age_group |add_class:"traveler_cnt_main"|attr:"readonly"|attr:"placeholder:여행자 수"}}

        <button>가이드 찾기</button>
    </div>

</header>

<div class="body-contents-wrapper">
    {% block content %}{% endblock %}
</div>
<footer>
    <ul>
        <li>이용방법</li>
        <li>자주 묻는 질문</li>
        <li>이용약관</li>
        <li>개인정보 취급방침</li>
    </ul>
    <div class="info">
        <span>기업명 | 용감한 Yonggamhan, Bravepeach</span>
        <span>대표자 ㅣ 오연주 (Jules Oh)</span>
        <span>대표번호 ㅣ +82) 10-5133-1564</span>
        <span>일반문의 ㅣ bravepeach.trip@gmail.com</span>
    </div>
    <span class="copyright">Copyright (C) bravepeach All rights reserved</span>
</footer>
</body>
</html>
