.page-title {
  margin-top: 63px;
  height: 40px;
  font-family: NanumSquare;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #dd3537;
}
.checkbox-label {
  margin-right: 85px;
  font-family: NanumSquare;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
#s2id_id_city {
  margin-top: 20px;
}
#id_real_name {
  padding-top: 10px;
  font-family: NanumSquare;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #393939;
}
.input-textarea {
  width: 880px;
  height: 410px;
  margin-top: 20px;
  font-size: 20px;
  padding: 20px;
  overflow-y: scroll;
}
.section-wrapper {
  margin-top: 30px;
  border-radius: 8px;
  background: rgba(216, 216, 216, 0.18);
  padding: 20px 26px 20px 26px;
}
.section-wrapper .title-comment {
  height: 22px;
  font-family: NanumSquare;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #565656;
}
.subtitle {
  height: 26px;
  font-family: NanumSquare;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
}
.hidden-div {
  display: none;
}
.career-block {
  position: relative;
  width: 828px;
  height: 170px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 #bbbbbb;
  border: solid 1px #d4d4d4;
  padding: 30px 61px 30px 30px;
  margin-bottom: 20px;
}
.career-block .career-delete {
  cursor: pointer;
  position: absolute;
  top: 43px;
  right: 20px;
  width: 20px;
  height: 20px;
}
.career-block .career-delete img {
  width: 20px;
  height: 20px;
}
.career-block .input-text {
  font-family: NanumSquare;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #393939;
  padding: 12px 0 12px 20px;
}
.career-block .career-date {
  display: inline-block;
  width: 420px;
  height: 45px;
}
.career-block .career-company {
  display: inline-block;
  width: 290px;
  height: 45px;
  margin-left: 20px;
}
.career-block .career-info {
  width: 737px;
  height: 45px;
}
.add-btn {
  display: block;
  width: 280px;
  height: 65px;
  border-radius: 5px;
  background: #e64c47;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #979797;
  margin: auto;
  font-family: NanumSquare;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.certificate-block {
  width: 828px;
  height: 82px;
  padding: 10px 30px 18px 30px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 #bbbbbb;
  border: solid 1px #d4d4d4;
  margin-bottom: 21px;
}
.certificate-block img {
  display: inline-block;
  width: 50px;
  height: 39px;
  vertical-align: bottom;
  margin: 5px 0 5px 0;
}
.certificate-block .certificate-img {
  margin: 0;
  display: inline-block;
  width: 647px;
  height: 45px;
}
.certificate-block .certificate-delete {
  margin-left: 26px;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.certificate-block .certificate-delete img {
  width: 20px;
  height: 20px;
}
.appeal-block {
  width: 828px;
  height: 82px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 30px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 #bbbbbb;
  border: solid 1px #d4d4d4;
}
.appeal-block .appeal-link {
  display: inline-block;
  width: 728px;
  height: 45px;
}
.appeal-block .appeal-delete {
  margin-left: 26px;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.appeal-block .appeal-delete img {
  width: 20px;
  height: 20px;
}
.checkbox-wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
}
.checkbox-wrapper label {
  display: inline-block;
  width: 141px;
  height: 22.6px;
  font-family: NanumSquare;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
  margin-right: 63px;
}
.checkbox-wrapper label input {
  margin-right: 20px;
}
.essay-title {
  margin-top: 30px;
}
.essay-title .input-textarea {
  margin-top: 0;
}
.cert-block {
  width: 848px;
  height: 85px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 #bbbbbb;
  border: solid 1px #d4d4d4;
  padding: 20px 30px 20px 30px;
  margin-bottom: 10px;
}
.cert-block .input-text {
  display: inline-block;
  width: 620px;
  height: 45px;
  margin-top: 0;
  margin-right: 20px;
}
.cert-block .btn {
  display: inline-block;
  width: 140px;
  height: 45px;
  border-radius: 8px;
  background-color: #e64c47;
  border: solid 1px #979797;
  font-family: NanumSquare;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #ffffff;
}
.exp-block {
  position: relative;
  width: 828px;
  height: 280px;
  padding: 18px 19px 20px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 #bbbbbb;
  border: solid 1px #d4d4d4;
  margin-bottom: 20px;
}
.exp-block img {
  display: inline-block;
  width: 50px;
  height: 38px;
}
.exp-block .input-text {
  display: inline-block;
  width: 645px;
  margin-top: 0;
  margin-left: 31px;
  padding-left: 21px;
}
.exp-block .exp-delete {
  position: absolute;
  top: 30px;
  right: 25px;
  width: 20px;
  height: 20px;
}
.exp-block .exp-delete img {
  width: 20px;
  height: 20px;
}
.exp-block textarea {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  width: 789px;
  height: 162px;
  overflow-y: scroll;
  font-family: NanumSquare;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #393939;
}
.terms {
  height: 476px;
  border-radius: 8px;
  border: solid 1px #979797;
  padding: 30px 20px 30px 20px;
}
.terms .title {
  font-family: NanumSquare;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #dd3537;
  margin-bottom: 20px;
}
.terms .content {
  padding: 20px;
  border-radius: 8px;
  background: rgba(216, 216, 216, 0.18);
  margin-bottom: 14px;
  font-family: NanumSquare;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  overflow: auto;
}
.terms label {
  float: right;
  font-family: NanumSquare;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.save-notice {
  margin-top: 15px;
  margin-bottom: 25px;
  font-family: NanumSquare;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #c94543;
}
.btn-area {
  font-family: NanumSquare;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 75px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.btn-area .cancel {
  display: inline-block;
  color: #ffffff;
  width: 266px;
  height: 75px;
  border-radius: 8px;
  background-color: #606060;
  border: solid 1px #979797;
  vertical-align: bottom;
}
.btn-area .submit {
  display: inline-block;
  margin-left: 15px;
  width: 266px;
  height: 75px;
  border-radius: 8px;
  background-color: #e64c47;
  border: solid 1px #979797;
}
#modal {
  background-color: #ffffff;
  position: absolute;
  top: 50px;
  z-index: 1;
}
