<!DOCTYPE html>
{% load compile_static %}
{% load widget_tweaks %}
{% load static %}

<html>
<head>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <meta charset="UTF-8">
    <title>{% block title %}Bravepeach{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.css' %}">
    <link rel="stylesheet" href="{% static 'less/mobile/common.less'|compile %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/sweetalert2/6.4.3/sweetalert2.min.css">
    {% block css %}{% endblock %}

    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApQSB8qcQB_Xda5MAmK18NdbmDIKjUbKM&libraries=places"></script>
    <script src="https://cdn.jsdelivr.net/sweetalert2/6.4.3/sweetalert2.min.js"></script>
    <script src="{% static 'js/mobile/common.js' %}"></script>
    <script src="{% static 'js/mobile/header.js' %}"></script>
    {% block js %}{% endblock %}
</head>
<body>
<header class="mobile-header">
    <img class="nav-menubar" src="{% static 'image/icon/menu_bar.png' %}" alt="메뉴바" onclick="mobileMenu()">
    <a class="nav-bravepeach-logo-wrapper" href="{% url 'index' %}"><img class="nav-bravepeach-logo" src="{% static 'image/icon/logo_bravepeach.png' %}" alt="용감한 로고"></a>
    <img class="nav-guide-search-dropdown" src="{% static 'image/icon/Search_Icon.png' %}" alt="검색 아이콘" onclick="mobileSearch()">

    <div class="side_menu_wrapper">
        <img class="menu-profile-pic" src="{% if request.user.profile.photo %}
                                            {{ request.user.profile.photo.url }} {% else %}
                                            {% static 'image/icon/profile_empty.png' %} {% endif %}"
                                            alt="프로필">
        <div style="margin-top: 8px">
            {% if request.user.is_authenticated %}
            <span class="menu-profile-name">{{request.user.profile.full_name}}</span>
            <span class="menu-email">{{request.user.username}}</span>
            {% else %}
            <a class="login-button" href="{% url 'login' %}">로그인</a>
            <a class="register-button" href="{% url 'register' %}">회원가입</a>
            {% endif %}
        </div>
            <ul class="menu-list">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'mypage_default' %}">마이페이지</a></li>
                <hr>
                <li><a href="{% url 'guide_index' %}">가이드 하기</a></li>
                <hr>
                <li><a href="{% url 'like' %}">찜한 가이드</a></li>
                <hr>
                <li><a href="{% url 'my_trip' %}">여행</a></li>
                <hr>
                <li>메세지</li>
                <hr>
                <li>도움말</li>
                <hr>
                <li><a href="{% url 'logout' %}">로그아웃</a></li>
                {% else %}
                <li><a href="{% url 'guide_index' %}">가이드 하기</a></li>
                <hr>
                <li><a href="{% url 'like' %}">찜한 가이드</a></li>
                <hr>
                {% endif %}
            </ul>
    </div>

    <div class="search_side_menu_wrapper">
        <h1>가이드 찾기</h1>
        <span>원하는 지역의 가이드를 검색해보세요!</span>

        <form id="enroll-form" method="get" action="{% url 'guide_search' %}">
            위치
            <input type="text" name="city" id="id_city" placeholder="목적지, 도시명, 주소" required>
            <hr>
            날짜
            <div>
            <input type="text" name="travel_begin_at" class="datepicker1" readonly placeholder="출국일">
            <input type="text" name="travel_end_at" class="datepicker2" readonly placeholder="입국일">
            </div>
            <hr>
            인원
            <input type="text" name="age_group" class="traveler_cnt_main" id="traveler_cnt_main" readonly placeholder="여행자 수">
            <hr>
            <div class="traveler_cntpicker">
                    <div>
                        성인
                        <span class="adult_num">0명</span>
                        <span class="increase_button">+</span>
                        <span class="decrease_button">-</span>
                    </div>

                    <div>
                        어린이
                        <span class="child_num">0명</span>
                        <span class="increase_button">+</span>
                        <span class="decrease_button">-</span>
                    </div>

                    <div>
                        유아
                        <span class="toddler_num">0명</span>
                        <span class="increase_button">+</span>
                        <span class="decrease_button">-</span>
                    </div>
                </div>

            <button onclick="submit_enroll_form()">가이드 찾기</button>
        </form>
    </div>

</header>

<div class="body-contents-wrapper">
{% block content %}{% endblock %}
</div>
<a class="enroll-trip-button" href="{% url 'enroll_trip' %}">
    여행 요청서 쓰기
</a>

<footer>
    <ul>
        <li>이용방법</li>
        <li>자주 묻는 질문</li>
        <li>이용약관</li>
        <li>개인정보 취급방침</li>
    </ul>
    <div class="info">
        <span>기업명 | 용감한 Yonggamhan, Bravepeach</span>
        <span>대표자 ㅣ 오연주 (Jules Oh)</span>
        <span>대표번호 ㅣ +82) 10-5133-1564</span>
        <span>일반문의 ㅣ bravepeach.trip@gmail.com</span>
    </div>
    <span class="copyright">Copyright (C) bravepeach All rights reserved</span>
</footer>
</body>
</html>
