<div class="ap-overlay display-none">
    <div class="accom-preview-modal">
        <div class="ap-type">{{ accom.type }}</div>
        <div class="ap-title">{{ accom.title }}</div>
        <div class="ap-locat">위치 : {{ accom.small_city }}, {{ accom.city }}</div>
        <div class="ap-photo-wrapper"></div>
        <div class="ap-content">{{ accom.content }}</div>
        <div class="ap-map">{{ accom.lat }} {{ accom.lng }}</div>
        <img class="ap-cancel" src="{% static 'image/icon/cancel_grey.png' %}">
        <div class="button-wrapper">

        </div>
    </div>
</div>

