{% extends "pc/guide/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/pc/guide/write_offer.css' %}">
<link rel="stylesheet" href="{% static 'css/pc/guide/template.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/guide/template.js' %}"></script>
{% endblock%}

{% block content %}
<div class="main-container">
<div class="template-top">
    <span class="accom clicked">숙소</span>
    <span class="guide">가이드</span>
    <span class="product">여행상품</span>
</div>
<hr>

<div class="wrapper">
    <div class="accom">
        <div class="title">여행자에게 견적서에서 제시할 가이드 일정 정보를 관리하세요!<br>미리 작성하거나, 수정/삭제가 가능합니다.</div>
        {% include 'pc/guide/accom_template_form.html' %}
            <div class="accom-refresh-button round-border">초기화</div>
            <div class="accom-preview-button round-border">미리보기</div>
            <div class="ap-overlay display-none">
                <div class="accom-preview-modal">
                    <div class="ap-type">한인 민박</div>
                    <div class="ap-title"></div>
                    <div class="ap-locat"></div>
                    <div class="ap-photo-wrapper"></div>
                    <pre><div class="ap-content"></div></pre>
                    <div class="ap-map"></div>
                    <img class="ap-cancel" src="{% static 'image/icon/cancel_grey.png' %}">
                    <div class="button-wrapper">

                    </div>
                </div>
            </div>
            <div class="accom-save-button round-border inactive">저장하기</div>

        <div class="search-wrapper">
            <div class="accom search activated">
                <div class="search-bar">검색<img class="arrow rotate" src="{% static 'image/icon/arrow_down_white.png' %}"></div>
                <div id="accom_search">
                    {% include 'pc/guide/accom_result.html' %}
                </div>
            </div>
        </div>
    </div>

    <div class="guide display-none">
        <div class="title">여행자에게 견적서에서 제시할 가이드 일정 정보를 관리하세요!<br>미리 작성하거나, 수정/삭제가 가능합니다.</div>
        {% include 'pc/guide/guide_template_form.html' %}
            <div class="guide-refresh-button round-border">초기화</div>
            <div class="guide-preview-button round-border">미리보기</div>
            <div class="guide-save-button round-border inactive">저장하기</div>

            <div class="search-wrapper">
        <div class="guide search activated">
            <div class="search-bar">검색<img class="arrow rotate" src="{% static 'image/icon/arrow_down_white.png' %}"></div>
            <div id="guide_search">
                {% include 'pc/guide/guide_result.html' %}
            </div>
        </div>
        </div>
    </div>


    <div class="product display-none">
        <div class="title">저장된 여행정보를 가지고 패키지 여행 상품을 만들어 보세요.</div>
        <div class="product-form-wrapper round-border">
            곧 서비스를 출시합니다. 조금만 기다려주세요.
        </div>
    </div>

</div>
</div>
{% endblock %}

