{% extends "pc/guide/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href='{% static "css/pc/guide/write_offer.css" %}'>
{% endblock %}

{% block js %}
    <script src="{% static 'js/guide/write_offer.js' %}"></script>
    <script src="{% static 'js/guide/accom_template.js' %}"></script>
    <script src="{% static 'js/guide/guide_template.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="main-container">
        <section name="top">
            <h1 class="sup-title-peach">견적서 작성하기</h1>
            <h2 class="sub-title">여행 요청서에 딱 맞는 가이드님의 개성넘치는 여행 계획을 작성해주세요!</h2>
        </section>
        <div class="req-card">
            <div class="trans-light">
                <div class="{% if req.trans_guided %} guide-activated {% else %} guide-deactivated {% endif %}"></div>
                <span>이동수단</span>
            </div>
            <div class="accom-light">
                <div class="{% if req.accom_guided %} guide-activated {% else %} guide-deactivated {% endif %}"></div>
                <span>숙박</span>
            </div>
            <div class="guide-light">
                <div class="{% if req.guide_guided %} guide-activated {% else %} guide-deactivated {% endif %}"></div>
                <span>가이드</span>
            </div>
            <img class="user-pic" src="{{ req.user.profile.photo.url }}">
            <div class="user-name">{{ req.user.profile.full_name }}</div>
            <div class="travel-city">
                {% for c in req.city %}
                    {% if not forloop.first %} / {% endif %} {{ c }}
                {% endfor %}
            </div>
            <div class="travel-date">{{ req.travel_begin_at|date:"Y/m/d" }} - {{ req.travel_end_at|date:"Y/m/d" }}</div>
            <div class="traveler-num">성인 {{ req.adult_traveler }}명 | 아동 {{ req.child_traveler }}명</div>
            <div class="req-cost">희망 경비 <span>{{ req.cost|intcomma }}</span> 만원</div>
            <input type="hidden" id="guide_id" value="{{ guide_id }}">
            <div class="like-button {% if is_liked %}liked{% else %}unliked{% endif %}"></div>
        </div>

        <div class="request-wrapper">
            <div class="request-bar">여행 요청서 <img class="arrow rotate" src="{% static 'image/icon/arrow_down_white.png' %}"></div>
            <div class="request-content">
                {% if req.trans_guided %}
                    <div class="request-head">이동수단</div>
                    <hr>
                    <span style="float:left">1.</span>
                    <div class="row">
                        {% if req.trans_via_list %}
                            {% for trans_via in req.trans_via_list %}
                            <div class="col-xs-4"><div class="red-circle"></div>{{ trans_via }}</div>
                            {% endfor %}
                        {% else %}
                            없음
                        {% endif %}
                    </div>

                    <span style="float:left">2.</span>
                    <div class="row">
                        {% if req.trans_class_list %}
                            {% for trans_class in req.trans_class_list %}
                            <div class="col-xs-4"><div class="red-circle"></div>{{ trans_class }}</div>
                            {% endfor %}
                        {% else %}
                            없음
                        {% endif %}
                    </div>
                    {% if req.trans_comment %}
                        <div class="comment">{{ req.trans_comment }}</div>
                    {% endif %}
                {% endif %}

                {% if req.accom_guided %}
                    <div class="request-head">숙소</div>
                    <hr>
                    <span style="float:left">1.</span>
                    <div class="row">
                        {% if req.accom_locat_list %}
                            {% for accom_locat in req.accom_locat_list %}
                            <div class="col-xs-5"><div class="red-circle"></div>{{ accom_locat }}</div>
                            {% endfor %}
                        {% else %}
                            없음
                        {% endif %}
                    </div>

                    <span style="float:left">2.</span>
                    <div class="row">
                        {% if req.accom_type_list %}
                            {% for accom_type in req.accom_type_list %}
                            <div class="col-xs-5"><div class="red-circle"></div>{{ accom_type }}</div>
                            {% endfor %}
                        {% else %}
                            없음
                        {% endif %}
                    </div>
                    {% if req.accom_comment %}
                        <div class="comment">{{ req.accom_comment }}</div>
                    {% endif %}
                {% endif %}

                {% if req.guide_guided %}
                    <div class="request-head">가이드</div>
                    <hr>
                    <div class="request-guide">
                    <div>1. 아침 <span>{{ req.start_time }}시</span> 부터는 일정을 시작해주세요.</div>
                    <div>2. 저녁 <span>{{ req.end_time }}시</span> 에는 일정을 마쳐주세요.</div>
                    <div>3. 꼭 가고싶은 여행지는 <span>{{ req.landmark }}</span> 입니다.</div>
                    <div>4. 여행 테마</div>
                    <div class="row">
                        {% if req.theme_list %}
                            {% for theme in req.theme_list %}
                            <div class="col-xs-4"><div class="red-circle"></div>{{ theme }}</div>
                            {% endfor %}
                        {% else %}
                            없음
                        {% endif %}
                    </div>

                    <div>5. 교통수단</div>
                    <div class="row">
                        {% if req.local_trans_list %}
                            {% for local_trans in req.local_trans_list %}
                            <div class="col-xs-4"><div class="red-circle"></div>{{ local_trans }}</div>
                            {% endfor %}
                        {% else %}
                            없음
                        {% endif %}
                    </div>
                    <div>6. 이런 성향의 가이드가 좋아요!</div>
                    <div class="row">
                        {% if req.guide_type_list %}
                            {% for guide_type in req.guide_type_list %}
                            <div class="col-xs-6"><div class="red-circle"></div>{{ guide_type }}</div>
                            {% endfor %}
                        {% else %}
                            없음
                        {% endif %}
                    </div>
                    <div>7. 저에게 가장 중요한 것은</div>
                    <div class="row">
                        {% if req.importance_list %}
                            {% for importance in req.importance_list %}
                            <div class="col-xs-6"><div class="red-circle"></div>{{ importance }}</div>
                            {% endfor %}
                        {% else %}
                            없음
                        {% endif %}
                    </div>
                    </div>
                    {% if req.additional_request %}
                        <div class="comment" style="margin-bottom: 16px;">{{ req.additional_request }}</div>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="status-bar-wrapper">
            <span>단계별 작성시 꼭 저장을 해주세요. 저장 후 다음 단계를 작성해주세요.</span>
            <div class="status-bar">
                <div class="trans big-circle {% if req.trans_guided %}guided{% else %}unguided{% endif %}"></div>
                <div class="trans text {% if req.trans_guided %}guided{% else %}unguided{% endif %}">이동수단</div>
                <div class="accom big-circle {% if req.accom_guided %}guided{% else %}unguided{% endif %}"></div>
                <div class="accom text {% if req.accom_guided %}guided{% else %}unguided{% endif %}">숙소</div>
                <div class="guide big-circle {% if req.guide_guided %}guided{% else %}unguided{% endif %}"></div>
               <div class="guide text {% if req.guide_guided %}guided{% else %}unguided{% endif %}">가이드</div>
                <div class="cost big-circle guided"></div>
                <div class="cost text guided">견적서</div>
                <div class="horizontal-line"></div>
            </div>
        </div>

        <div class="template-wrapper">
            <div class="trans template">
                <textarea type="text" class="trans-form" name="trans-form" placeholder="항공권/기차/해운권에 대한 정보를 상세히 작성해주세요.

예)
- 여행 시작일
대한항공 KE110 / 직항 / 이코노미 좌석 2개
출발 : 인천(ICH) 2017/05/12 09:00
도착 : 뉴욕(JFK) 2017/05/12 13:00

-여행 마지막일
대한항공 KE110 / 직항 / 비지니스 좌석 2개
출발 : 워싱턴D.C(DCA) 2017/05/29 18:30
도착 : 인천(ICH) 2017/05/30 16:00 "></textarea>
                <div class="trans-form-button">저장하기</div>
            </div>
            <div class="accom template">
                <div class="wrapper">
                {% include "pc/guide/accom_template_form.html" %}
                </div>
                <div class="accom-add-button">+ 추가하기</div>
                <hr>
                <div class="accom-form-button">저장하기</div>
            </div>
            <div class="guide template">
                <select class="guide-date">
                    {% for date in date_list %}
                    <option value="{{ forloop.counter0 }}">{{ forloop.counter }}일 ({{ date }})</option>
                    {% endfor %}
                </select>
                <div class="wrapper">
                {% include "pc/guide/guide_template_form.html" %}
                </div>
                <div class="guide-add-button">+ 추가하기</div>
                <hr>
                <div class="guide-form-button">저장하기</div>
            </div>
            <div class="cost template">
                <div class="wrapper">
                {% include "pc/guide/cost_form.html" %}
                </div>
                <div class="cost-add-button">+ 추가하기</div>
                <hr>
                <div class="cost-form-button">저장하기</div>
            </div>
        </div>
        <div class="wo">
            <span>※ 단계별로 저장된 내용을 미리보기로 보실 수 있습니다.<br>
            ※ 최종 제출은 미리보기 페이지에서 가능합니다.</span>
            <div class="wo-cancel">취소</div>
            <div class="wo-prev">미리보기</div>
        </div>

        <div class="search-wrapper">
            <div class="trans">
                <div class="search-bar">검색<img class="arrow rotate" src="{% static 'image/icon/arrow_down_white.png' %}"></div>
                <div class="content">검색이 필요하지 않습니다.</div>
            </div>
            <div class="accom search">
                <div class="search-bar">검색<img class="arrow rotate" src="{% static 'image/icon/arrow_down_white.png' %}"></div>
                {% include "pc/guide/accom_result.html" %}
            </div>
            <div class="guide search">
                <div class="search-bar">검색<img class="arrow rotate" src="{% static 'image/icon/arrow_down_white.png' %}"></div>
                {% include "pc/guide/guide_result.html" %}
            </div>
            <div class="cost search">
                <div class="search-bar">검색<img class="arrow rotate" src="{% static 'image/icon/arrow_down_white.png' %}"></div>
                <div class="content">검색이 필요하지 않습니다.</div>
            </div>
        </div>
    </div>
{% endblock %}
