{% extends 'pc/base.html' %}
{% load static %}
{% load mathfilters %}
{% load custom_filters %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/pc/post_list.css' %}">
{% endblock %}

{% block content %}
        <section>
            <div class="sup-title-peach">커뮤니티</div>
        </section>

        <table class="post-table">
            <thead>
                <tr>
                    <th id="post-id">번호</th>
                    <th id="post-writer">글쓴이</th>
                    <th id="post-title">제목</th>
                    <th id="post-hits">조회수</th>
                    <th id="post-date">등록일</th>
                </tr>
            </thead>
            {% for post in posts %}
                <tbody>
                <tr>
                    <td class="pid">{{ post.id }}</td>
                    <td><div>{{ post.writer.profile.full_name }}</div></td>
                    <td class="ptle">
                        <div>
                            <a href="{% url 'user_post_detail' post.id %}">{{ post.title }}</a>
                            {% if post.user_comment.count %}
                                <span>{{ post.user_comment.count }}</span>
                            {% endif %}
                        </div>
                    </td>
                    <td class="pcnt">{{ post.user_post_hit.count }}</td>
                    <td>
                        {% if post.written_date|is_today %}
                            {{ post.written_date|date:'H:i:s' }}
                        {% else %}
                            {{ post.written_date|date:'Y/m/d' }}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>

    <a id="write-post" href="{% url 'write_user_post' %}">글쓰기</a>

    <div class="pagination">
        {% with page_obj.number|intdiv:5|add:1 as start %}
            {% with start|add:5 as end %}
                {% for page in start|range:end %}
                    {% if page in paginator.num_pages|add:1|to_list %}
                        {% if page == page_obj.number %}
                            <a class="page active" href="?page={{ page }}">{{ page }}<a/>
                        {% else %}
                            <a class="page" href="?page={{ page }}">{{ page }}<a/>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endwith %}
        {% endwith %}

{% endblock %}