{% extends 'pc/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/pc/write_post.css' %}">
{% endblock %}

{% block content %}
    {{ form.media }}
    <div class="main-container">
    <section>
            <div class="sup-title-peach">커뮤니티</div>
    </section>
        <form method="post" action="/write_user_post/">
            {% csrf_token %}
    {{ form.title }}
    {{ form.content }}
    <button type="submit"></button>
        </form>
    </div>
{% endblock %}