{% extends "pc/user/mypage/base.html" %}
{% load compile_static %}
{% load static %}
{% load custom_filters %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'less/pc/mypage_alarm.less'|compile %}">
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block mypage %}
    <div class="mypage-wrapper">
        <div class="section-title">
            <div class="title-text">알림</div>
            <div class="show-toggle">
                <img src="{% static 'image/icon/arrow_down_white.png' %}" alt="">
            </div>
        </div>
        {% for alarm in alarm_list %}
            <div class="alarm-content {% if forloop.counter > 6 %}hidden{% endif %}">{{ alarm }}</div>
        {% endfor %}
    </div>
{% endblock %}
