{% extends "pc/user/mypage/base.html" %}
{% load compile_static %}
{% load static %}
{% load custom_filters %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'less/pc/mypage/profile.less'|compile %}">
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block mypage %}
    <div class="profile-title">프로필 수정하기</div>
    <form action="{% url 'edit_profile' %}" class="profile-form" method="post" id="profile-form">
        {% csrf_token %}
        {{ user_form.last_name|addcls:"input-text" }}
        {{ user_form.first_name|addcls:"input-text" }}
        {{ profile_form.gender|addcls:"input-radio" }}
        {{ user_form.email|addcls:"input-text" }}
        <div class="email-notice notice">이메일을 입력해주세요.</div>
        {{ user_form.password|addcls:"input-text" }}
        {{ user_form.password2|addcls:"input-text" }}
        <div class="password-notice notice">4-6자리 영문/숫자 포함</div>
        <div class="pw-notice notice notice-right">비밀번호가 일치합니다.</div>
        <div class="pw-notice notice notice-wrong">비밀번호가 일치하지 않습니다.</div>
        <div class="birthday-wrapper">{{ profile_form.birthday|addcls:"input-select" }}</div>
        {#    {{ profile_form.nationality|addcls:"input-select" }}#}
        <div class="btn-area">
            <a href="{% url 'mypage_default' %}" class="cancel-btn">취소</a>
            <button class="submit-btn" type="button" onclick="edit_profile()">완료</button>
            <button class="hidden_submit" style="display: none;"></button>
        </div>
    </form>
{% endblock %}
