{% extends "pc/user/mypage/base.html" %}
{% load compile_static %}
{% load static %}
{% load custom_filters %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'less/pc/mypage/review.less'|compile %}">
{% endblock %}

{% block mypage %}
    <div class="page-header">
        <div class="header-title">내가 받은 후기</div>
        <div class="show-all">전체보기</div>
    </div>
    <div class="page-contents">
        {% for review in guide_reviews %}
            <div class="review-wrapper {% if forloop.counter > 3 %}hidden{% endif %}">
                <div class="profile-area">
                    <div class="pic">
                        <img src="{% if review.guide.user.profile.photo.url %}
                                {{ review.guide.user.profile.photo.url }}
                                {% else %}{% static 'image/icon/logo_white.png' %}{% endif %}"
                             alt="profile">
                    </div>
                    <div class="name">{{ review.guide.full_name }}</div>
                </div>
                <div class="contents-area">
                    <div class="rating">
                        {% for i in review.clean_rating.0 %}
                            <img class="rating-img" src="{% static 'image/icon/logo_full.png' %}" alt="">
                        {% endfor %}
                        {% if review.clean_rating.1 == 0.5 %}
                            <img src="{% static 'image/icon/logo_half.png' %}" alt="" class="rating-img">
                        {% else %}
                            <img src="{% static 'image/icon/logo_empty.png' %}" alt="" class="rating-img">
                        {% endif %}
                        {% for i in review.clean_rating.2 %}
                            <img src="{% static 'image/icon/logo_empty.png' %}" alt="" class="rating-img">
                        {% endfor %}
                    </div>
                    <div class="write-date">{{ review.write_date|date:"%Y/%m/%d" }}</div>
                    <div class="review-content ellipsis">{{ review.content }}</div>
                </div>
            </div>
            <div class="hr"></div>
        {% empty %}
            <div class="empty-contents">리뷰가 없습니다</div>
            <div class="hr"></div>
        {% endfor %}
    </div>
    <div class="space"></div>
    <div class="page-header">
        <div class="header-title">내가 보낸 후기</div>
        <div class="show-all">전체보기</div>
    </div>
    <div class="page-contents">
        {% for review in guide_reviews %}
            <div class="review-wrapper {% if forloop.counter > 3 %}hidden{% endif %}">
                <div class="profile-area">
                    <div class="pic">
                        <img src="{% if review.user.profile.photo.url %}
                                {{ review.user.profile.photo.url }}
                                {% else %}{% static 'image/icon/logo_white.png' %}{% endif %}"
                             alt="profile">
                    </div>
                    <div class="name">{{ review.user.profile.full_name }}</div>
                </div>
                <div class="contents-area">
                    <div class="rating">
                        {% for i in review.clean_rating.0 %}
                            <img class="rating-img" src="{% static 'image/icon/logo_full.png' %}" alt="">
                        {% endfor %}
                        {% if review.clean_rating.1 == 0.5 %}
                            <img src="{% static 'image/icon/logo_half.png' %}" alt="" class="rating-img">
                        {% else %}
                            <img src="{% static 'image/icon/logo_empty.png' %}" alt="" class="rating-img">
                        {% endif %}
                        {% for i in review.clean_rating.2 %}
                            <img src="{% static 'image/icon/logo_empty.png' %}" alt="" class="rating-img">
                        {% endfor %}
                    </div>
                    <div class="write-date">{{ review.write_date|date:"%Y/%m/%d" }}</div>
                    <div class="review-content ellipsis">{{ review.content }}</div>
                </div>
                <div class="hr"></div>
            </div>
        {% empty %}
            <div class="empty-contents">리뷰가 없습니다</div>
            <div class="hr"></div>
        {% endfor %}
    </div>
{% endblock %}
