{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
        <link href='{% static "css/base.css" %}'>
    </head>
    <body>
    {% include "views/header.html" %}


    {% block content %}
    {% endblock %}

    {% include "views/footer.html" %}

    </body>
    <!--<script src="assets/js/handlebars-v4.0.5.js"></script>-->
    <!--<script src="dist/template/template.js"></script>-->
    <!--<script src="dist/template/main.js"></script>-->
    <!--<script>-->
        <!---->
        <!--// 공통 헤더 템플릿-->
        <!--var head = Handlebars.templates.head;-->
        <!--$('head').append(head);-->
        <!--// 메인 -->
        <!--var main = Handlebars.templates.main;-->
        <!--var nav_general = Handlebars.templates.nav_general;-->
        <!--$('body').append(nav_general);-->
        <!--$('body').append(main);-->
        <!---->
        <!--// 푸더 템플릿-->
        <!--var footer = Handlebars.templates.footer;-->
        <!--$('body').append(footer);-->
    <!--</script>-->
</html>