<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
    <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
        <link rel="stylesheet" href='{% static "css/style.css" %}'>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApQSB8qcQB_Xda5MAmK18NdbmDIKjUbKM&libraries=places"></script>
        {% block script %}{% endblock %}

    </head>
    <body>
    {% include "views/header.html" %}


    {% block content %}
    {% endblock %}

    {% include "views/footer.html" %}

    </body>

    <script src="{% static 'js/main.js' %}"></script>

    <!--<script src="assets/js/handlebars-v4.0.5.js"></script>-->
    <!--<script src="dist/template/template.js"></script>-->
    <!--<script src="dist/template/main.js"></script>-->
    <!--<script>-->
        <!---->
        <!--// 공통 헤더 템플릿-->
        <!--var head = Handlebars.templates.head;-->
        <!--$('head').append(head);-->
        <!--// 메인 -->
        <!--var main = Handlebars.templates.main;-->
        <!--var nav_general = Handlebars.templates.nav_general;-->
        <!--$('body').append(nav_general);-->
        <!--$('body').append(main);-->
        <!---->
        <!--// 푸더 템플릿-->
        <!--var footer = Handlebars.templates.footer;-->
        <!--$('body').append(footer);-->
    <!--</script>-->
</html>