{% extends "base.html" %}
{% load staticfiles %}


{% block title %} bravepeach login {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/mobile.css' %}">
<div class="main-container">
    <a class="regist-button facebook">
        Facebook으로 가입하기
    </a>
    <a class="regist-button naver">
        Naver로 가입하기
    </a>
    <a class="regist-button google">
        Google로 가입하기
    </a>
    <a class="regist-button brave">
        BravePeach로 가입하기
    </a>

    <div class="boundary">
        <div class="col-xs-5"><hr></div>
        <div class="col-xs-2">또는</div>
        <div class="col-xs-5"><hr></div>
    </div>

    <form class="regist-form-wrapper" action="{% url 'login' %}" method="post">
        {{form.as_p}}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
    <button type="submit" class="regist-submit">로그인</button>
        <p><a href="{% url 'password_reset' %}">비밀번호를 잊으셨나요?</a></p>
    </form>

</div>

{% endblock %}