{% extends request.user_agent.is_mobile|yesno:"mobile/common/base.html,pc/common/base.html" %}
{% load compile_static %}
{% load static %}

{% block title %} bravepeach | 비밀번호 재설정 {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'less/reset_pw.less'|compile %}">
{% endblock %}

{% block content %}
    <div class="reset-pw-pc-wrapper">
        <img src="{% static 'image/icon/logo_empty.png'%}" alt="" class="peach">
        {% if validlink %}
            <h1>비밀번호를 재설정 해주세요</h1>
            <p class="confirm">비밀번호는 영소문자, 숫자, 특수문자를 <br>
                모두 사용하여 6자 이상 20장 이하로 설정해주세요.</p>
            <form action="." method="post">
                {% csrf_token %}
                <label for="new-password1" class="input-text-label">비밀번호</label>
                {{ form.new_password1 }}
                <label for="new-password2" class="input-text-label">비밀번호 확인</label>
                {{ form.new_password2 }}
                <input type="submit" value="비밀번호 변경" class="pw-reset-submit"/>
            </form>
        {% else %}
            <p>이 비밀번호 재설정 링크는 만료되었습니다. 다시 링크를 요청하세요.</p>
        {% endif %}
    </div>
{% endblock %}
