{% extends request.user_agent.is_mobile|yesno:"mobile/base.html, pc/base.html" %}
{% load compile_static %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'less/reset_pw.less'|compile %}">
{% endblock %}

{% block content %}
    {% if request.user_agent.is_mobile %}
        <div class="reset-pw-mobile-wrapper">
            <img src="{% static 'image/icon/logo_empty.png'%}" alt="" class="peach">
            <h1>비밀번호가 기억나지 않으세요?</h1>
            <p>이메일 주소를 쓰시면 새로운 비밀번호를<br>재설정 할 수 있는 링크를 보내드립니다.</p>
            <div class="pw-reset-form-wrapper">
                <form action="." method="post">
                    {% csrf_token %}
                    <label for="reset-email" class="input-text-label">이메일 주소</label>
                    {{ form.email }}
                    <input type="submit" value="이메일로 링크받기" class="pw-reset-submit"/>
                </form>
            </div>
        </div>
    {% else %}
        <div class="reset-pw-pc-wrapper">
            <img src="{% static 'image/icon/logo_empty.png'%}" alt="" class="peach">
            <h1>비밀번호가 기억나지 않으세요?</h1>
            <p>이메일 주소를 쓰시면 새로운 비밀번호를 재설정 <br>할 수 있는 링크를 보내드립니다.</p>
            <div class="pw-reset-form-wrapper">
                <form action="." method="post">
                    {% csrf_token %}
                    <label for="reset-email" class="input-text-label">이메일 주소</label>
                    {{ form.email }}
                    <input type="submit" value="이메일로 링크받기" class="pw-reset-submit"/>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
