{% extends "pc/base.html" %}
{% load compile_static %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'less/pc/greeting.less'|compile %}">
{% endblock %}

{% block content %}
    <div class="contents-wrapper">
        <img src="{% static 'image/icon/logo_bravepeach.png' %}" alt="" class="logo">
        <div class="greeting-msg greeting-name">{{ request.user.first_name }} {{ request.user.last_name }} 님<br>
            브레이브피치의 가입을 축하드립니다.</div>
        <div class="greeting-contents">전문 가이드 모집을 위한 여행 요청서를 작성하시겠습니까?</div>
        <a href="" class="write-request">여행 요청서 작성하기</a>
        <a href="/" class="find-guide">바로 가이드 찾기</a>
    </div>
{% endblock %}