{% extends 'common/base.html' %}
{% load widget_tweaks %}

{% block title %}
회원가입
{% endblock %}

{% block content %}


    <div class="user-regist">
 <div class="user-regist-header">회원가입</div>

 <form action="." method="post">
     <div class="user-profile-img">
         {%  render_field profile_form.photo %}
     </div>
     {% render_field user_form.last_name placeholder="성 (Last Name)" %}<br>
{% render_field user_form.first_name placeholder="이름 (First Name)" %}<br>
{% render_field profile_form.gender %}<br>

{% render_field user_form.email placeholder="이메일*" %}<br>
     <p>이메일을 입력해주세요.</p>
{% render_field user_form.password placeholder="비밀번호*" %}<br>
{% render_field user_form.password2 placeholder="비밀번호 확인*" %}<br>
     <p>6-20자리 영문소문자/숫자/특수문자 포함</p>

{% render_field profile_form.birthday placeholder="비밀번호 확인*" %}<br>
{% render_field profile_form.nationality placeholder="국적" %}<br>


     {% csrf_token %}
     <p><input type="submit" value="가입하기"/></p>
 </form>
    </div>
{% endblock %}
