{% extends "mobile/base.html" %}
{% load compile_static %}
{% load static %}

{% block title %}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'less/mobile/register_bp.less'|compile %}">
    <link rel="stylesheet" href="{% static 'css/jquery.Jcrop.min.css'%}">
{% endblock %}

{% block js %}
    <script src="{% static 'js/register.js' %}"></script>
    <script src="{% static 'js/jquery.Jcrop.min.js' %}"></script>
    <script>
        var upload_original_url = '{% url "upload_original" %}';
        var upload_profile_url = '{% url "upload_profile" %}';
    </script>
    <script src="{% static 'js/profile_pic.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="contents-wrapper">
        {#        <div class="page-title">회원가입</div>#}
        <div class="form-wrapper">
            <input type="file" id="profile-input" style="display: none;">
            <form action="" method="post" id="register-form">
                <div class="profile-pic">
                    <img id="camera" src="{% static 'image/icon/profile_photo.png' %}" width="30" height="23"
                         alt="">
                    <img id="profile-image" src="" alt="">
                </div>
                <input type="hidden" name="profile-url">
                {% csrf_token %}
                <div class="name-wrapper">
                    {{ user_form.last_name }}
                    {{ user_form.first_name }}
                    {{ profile_form.gender }}
                </div>
                <div class="info-wrapper">
                    {{ user_form.email }}
                    <div class="email-notice notice mobile-notice">이메일을 입력해주세요.</div>
                    <div class="email-notice notice notice-right">이메일이 유효합니다.</div>
                    <div class="email-notice notice notice-wrong email-invalid">이메일이 유효하지 않습니다.</div>
                    <div class="email-notice notice notice-wrong email-used">이메일이 이미 사용중입니다.</div>
                    {{ user_form.password }}
                    {{ user_form.password2 }}
                    <div class="pw-notice notice mobile-notice">6-20자리 영문소문자/숫자/특수문자 포함</div>
                    <div class="pw-notice notice notice-right">비밀번호가 일치합니다.</div>
                    <div class="pw-notice notice notice-wrong">비밀번호가 일치하지 않습니다.</div>
                    <div>{{ profile_form.birthday }}</div>
                    {# TODO: Add nationality #}
                    <div class="button-wrapper">
                        <a href="{% url 'index' %}" class="register-btn cancel-register">취소</a>
                        <button class="register-btn submit-register" type="button" onclick="submit_register_form()">가입하기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="profile_modal">
        <div class="original-wrapper"> <img id="original_profile"></div>
        <div class="btn-area">
            <button class="cancel-btn" id="cancel_profile" onclick="cancel_profile()">취소</button>
            <button class="submit-btn" id="save_profile" onclick="save_profile()">저장하기</button>
        </div>
    </div>
{% endblock%}
