.all_wrapper {
  margin: 40px auto 10px auto;
  height: 385px;

  #chat_join_form {
    display: none;
  }

  .chat_list {
    display: inline-block;
    border-right: 1px solid #ddd9d9;
    width: 250px;
    min-height: 400px;
    font-size: 20px;

    .room-link {
      height: 60px;
      border: 1px solid #ddd9d9;
      cursor: pointer;
      text-align: center;
      line-height: 60px;

      &.active {
        color: white;
        background-color: #e64c47;
      }
    }
  }

  #chats {
    display: inline-block;
    width: 600px;
    min-height: 400px;
    vertical-align: top;

    .message {

      &.mine {

      }
    }
  }

  .room {
    position: relative;
    bottom: 0;
    height: 400px;

    .messages {
      height: 350px;
      overflow-y: scroll;

      .message {
        padding: 10px 20px 10px 20px;
        font-family: NanumSquare;
        font-size: 20px;
        line-height: 1.5;
        color: #000000;
        background: #eeeeee;
        margin-bottom: 25px;
        margin-left: 15px;
        margin-right: 150px;

        &.mine {
          background-color: white;
          border-radius: 25px;
          border: 1px solid #e64c47;
          margin-left: 150px;
          margin-right: 30px;
        }
      }
    }
  }

  form {
    position: absolute;
    bottom: 0;

    input {
      width: 500px;
      height: 40px;
      font-family: NanumSquare;
      font-size: 20px;
      padding-left: 10px;
      border-radius: 8px;
    }

    button {
      height: 40px;
      font-size: 20px;
      color: white;
      background: linear-gradient(to right, #f2ad8a, #e64c47);
      border-radius: 8px;
      font-family: NanumSquare;
      font-weight: bold;
    }
  }
}
