.contents-wrapper {
  width: 875px;
  margin: 34px auto;

  .page-title {
    color: #e64c47;
    //width: 175px;
    height: 55px;
    font-family: NanumSquare;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    display: block;
    margin-bottom: 18px;
  }

  form {
    display: block;

    .profile-wrapper {
      display: inline-block;
      margin-right: 40px;
      width: 200px;
      height: 645px;

      .profile {
        height: 200px;
        border-radius: 8px;
        background-color: #bbbbbb;
        border: solid 1px #979797;

        img {
          margin-top:168px;
          margin-left:160px;
        }
      }
    }

    .form-wrapper {
      float: right;
      display: inline;
      width: 635px;

      ul#id_gender {
        display: block;
        list-style-type: none;
        margin: 30px 0 25px 0;
        height: 24px;
        padding-left: 14px;

        label {
          float: left;
          clear: none;
          display: block;
          height: 24px;
          font-family: NanumSquareOTFR;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          //text-align: left;
          color: #4a4a4a;
          margin-right: 43px;
        }
      }

      .button-wrapper {
        margin-top: 40px;

        button {
          border-radius: 5px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          border: solid 1px #b5b5b6;
          text-decoration: none;
          display: inline-block;
          text-align: center;
          width: 280px;
          height: 65px;
          color: #ffffff;
          font-family: NanumSquareOTFR;
          font-size: 24px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;

          &.cancel-register {
            margin-left: 20px;
            background-color: #606060;
          }

          &.submit-register {
            float: right;
            margin-right: 20px;
            background-color: #e64c47;
          }
        }
      }
    }
  }
}