.reset-pw-pc-wrapper {
  width: 530px;
  margin: auto;
}
.reset-pw-pc-wrapper img.peach {
  display: block;
  width: 64px;
  margin: 15px auto 34px auto;
}
.reset-pw-pc-wrapper h1 {
  width: 100%;
  height: 45px;
  font-family: NanumSquareOTFB;
  font-size: 41px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 31px auto 31px auto;
}
.reset-pw-pc-wrapper p {
  margin: auto;
  width: 497px;
  height: 96px;
  font-family: NanumSquareOTFB;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.92;
  letter-spacing: -0.6px;
  text-align: center;
  color: #606060;
}
.reset-pw-pc-wrapper p.confirm {
  width: 510px;
}
.reset-pw-pc-wrapper .pw-reset-form-wrapper {
  width: 444px;
  margin: 60px auto 10px auto;
}
.reset-pw-pc-wrapper .pw-reset-form-wrapper .pw-reset-submit {
  width: 447px;
  height: 71px;
  margin: 64px auto 0 auto;
  background-color: #e64c47;
  font-family: NanumSquareOTFB;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #ffffff;
  border-radius: 8px;
  border: none;
}
