.sup-title-peach {
    font-size: 48px;
    font-weight: 600;
    color: #E64C47;
    margin-top: 0px;
    margin-bottom: 12px;
    line-height: 54px;
}

.sub-title {
    margin-top: 0px;
    font-size: 22px;
    margin-bottom: 17px;
    line-height: 32px;
    font-weight: 100;
}
