body{width: 100%;}

.body-contents-wrapper{
    padding: 0 0 273px 0;
}

header{
    background-color: transparent;
}

.nav-bravepeach-logo{
    display: none;
}

.body-contents-wrapper{
    margin-top: 0px;
}

.main-header {
  position: relative;
  width: 100%;
  height: 390px;
  overflow: hidden;
  background: url(/static/image/images/sunset_back.jpg) center no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  z-index: 100;
}
.main-container,
.head-container {
  min-width: 320px;
  max-width: 902px;
  margin: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.main-logo{
    display: block;
    width: 284px;
    margin: 77px auto 0px auto;
}

.main-form-wrapper {
    width: 355px;
    height: 60px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.85);
    border: solid 1px #c7c7cd;
}

.main-form-wrapper .col-xs-3 {
  height: 100%;
}

.main-mobile-form-wrapper {
  display: none;
}
.thumbnail-wrapper {
  height: 202.9px;
}
.thumbnail-wrapper .col-cs-12,
.thumbnail-wrapper .col-sm-4 {
  height: 100%;
}
.main-thumbnail {
  position: relative;
  width: 100%;
  height: 262.6px;
  margin: auto;
  overflow: hidden;
  background-size: cover;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-bottom: 2px;
}
.main-thumbnail h4 {
    margin-top: 80px;
    font-family: NanumSquareOTFR;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: center;
    color: #fefefe;
}
.main-thumbnail h3 {
    margin-top: 16px;
    font-family: NanumSquareOTFR;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.8px;
    text-align: center;
    color: #fefefe;
}
.red-sunset {
  background: url(../../image/images/red_sunset.jpg) center no-repeat;
  background-size: cover;
}
.mountain {
  background: url(../../image/images/mountain3.jpg) center no-repeat;
  background-size: cover;
}
.waiting {
  background: url(../../image/images/waiting.jpg) center no-repeat;
  background-size: cover;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main-thumbnail:hover > .overlay {
  background-color: black;
  opacity: 0.7;
}
.row {
  margin: 0;
}
@media (min-width: 768px) {
  .col-sm-fifth {
    float: left;
    width: 20%;
  }
}
.spread {
  width: 100%;
  height: 100%;
}
.select-wrapper {
  display: inline-block;
  width: 97%;
  margin-bottom: 47px;
  padding-left: 20px;
}
.gradation-bar.inactive {
  transition-duration: 0.4s;
  opacity: 0.5;
}
.main-mobile-logo-wrapper {
  display: none;
}

.find-guide-form {
    padding-top: 23px;
    display: block;
    padding-left: 83px;
    margin:auto;
    margin-top: 114px;
    width: 95%;
    height: 60px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.85) !important;
    border: solid 1px #c7c7cd;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #4a4a4a;
}

.search-icon{
    opacity: 0.6;
    width: 20px;
    position: absolute;
    right: 100px;
    top: 136px;
    z-index: 100;
}

.enroll-trip-button{
    margin-top: 0px;
}

.ui-datepicker{
    margin-top: 50px;
}