.main-container, .head-container {
    width: 880px;
    margin: auto;
}

.main-container {
    padding-top: 55px;
}

.sup-title-peach {
    color: #E64C47;
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

.sub-title {
    margin-top: 0px;
    margin-bottom: 17px;
    height: 32px;
    font-family: NanumSquare;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
}

.white-bar {
    width: 100%;
    height: 60px;
    border-radius: 8px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 8px;
    position: relative;
}

.icon {
    width: 30px;
    position: absolute;
    top: 15px;
    left: 2%;
}
.select2-input{padding-top:2px}

.enroll-trip-form {
    width: 689px;
    height: 36px;
    border-radius: 3px;
    position: absolute;
    top: 12px;
    left: 10.9%;
    border-style: none;
    font-size: 20px;
    color: black;
    padding-left: 5px;
    background-color: rgba(212, 212, 212, 0.3);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    padding-left: 21px;
}

#id_cost{
    padding-top: 7px;
    border: 0px;
    text-align: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#id_city{top:0px; left: 0px; width: 100%;}

#id_landmark{
    display: inline-block;
    width: 475px;
    border-width: 0px 0px 1px 0px;
}

.find-guide-form, .find-guide-form2 {
    width: 33.5%;
    height: 36px;
    border-radius: 3px;
    position: absolute;
    top: 12px;
    left: 10.9%;
    border-style: none;
    font-size: 20px;
    padding-left: 22px;
    background-color: rgba(212, 212, 212, 0.3);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.find-guide-form2 {
    position: absolute;
    left: 55.6%;
}

#ui-datepicker-div {
    display: none;
}

.ui-datepicker {
    position: absolute !important;
    left: 50% !important;
    margin-left: -344px; /* approx half the height of the datepicker div - adjust based on your size */
    width: 689px;
    height: 430px;
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    text-align: center;
    background-color: white;
}

.ui-datepicker a {
    color: black;
    text-decoration: none;
}

.ui-datepicker-header {
    width: 235px;
    margin: auto;
    margin-top: 30px;
    font-size: 32px;
}

.ui-datepicker-prev {
    float: left;
    color: #606060 !important;
}

.ui-datepicker-next {
    float: right;
    color: #606060 !important;
}

.ui-datepicker-calendar {
    margin-top: 20px;
    width: 95%;
    height: 75%;
    font-size: 24px;
}
.ui-state-default {
    display: block;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    margin: auto;
    padding-top: 10px;
}

a.ui-state-default:hover {
    background-color: #e64c47;
    color: white;
}

.ui-datepicker-unselectable {
    color: #d3d3d3;
}


.arrow-down {
    float: right;
    width: 24px;
    position: absolute;
    top: 22px;
    right: 3%;
}

.arrow-right {
    position: absolute;
    right: 48.75%;
}

.traveler-num{
    float:right;
    margin-right: 54px;
}

.increase_button, .decrease_button{
    float:right;
    text-align:center;
    font-size:25px;
    display:inline-block;
    margin: 0px 10px;
    width: 29px;
    height: 29px;
    border:1px solid;
    border-radius: 14.5px;
    cursor:pointer;
}
.traveler_cntpicker{
    z-index: 100;
    display: none;
    position: absolute;
    top:48px;
    left: 10.9%;
    width: 78%;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #d4d4d4;
    font-family: NanumSquareOTFR;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.traveler_cntpicker div{
    margin: 21px 32px;
}

.traveler_cntpicker div :before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-bottom:1px solid #979797;
}

.enroll-trip-help {
    display: block;
    margin-top: 40px;
    font-size: 16px;
}

.enroll-trip-button{
    display: none !important;
}

.peach-button-wrapper {
    width: 100%;
    height: 185px;
    display: inline-block;
    padding-top: 36px;
}

.way-of-travel-button, .lodging-button, .guide-button {
    width: 50%;
    height: 111px;
    border: none;
    background-color: transparent;
    margin: auto;
    position: relative;
    display: block;
    cursor: pointer;
}

.way-of-travel-button img, .lodging-button img, .guide-button img {
    width: 64px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.enroll-trip-button-name {
    display: block;
    font-size: 25px;
    margin: 17px 0px 0px -2px;
    text-align: center;
}

.gradation-bar {
    width: 100%;
    background: linear-gradient(to right, #F2AD8A, #E64C47);
    border-radius: 8px;
    border: 1px;
    border-color: #DDD9D9;
    border-style: solid;
    height: 60px;
    margin-bottom: 8px;
    position: relative;
}

.gradation-bar.inactive:hover {
    opacity: 1;
}

.gradation-bar.inactive {
    transition-duration: 0.4s;
    opacity: 0.5;
}

.bar-text {
    color: white;
    float: left;
    margin-left: 15px;
    font-family: NanumSquare;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 21px;
}

select{
    width: 81px;
    height: 36px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #979797;
    background-color: white;
    margin: 0px 8px 0px 8px;
}

.scrolling-page1, .scrolling-page2, .scrolling-page3 {
    font-size: 20px;
    color: #4a4a4a;
    margin-top: 11px;
    margin-bottom: 35px;
    display: none;
}

.scrolling-page3 {
    margin-bottom: 0px;
    display: block;
}

.scrolling-page1 input, .scrolling-page2 input, .scrolling-page3 input {
    margin-right: 11px;
}

.sellect-wrapper {
    display: inline-block;
    width: 97%;
    margin-bottom: 47px;
    padding-left: 20px;
}

.additional-request-box {
    width: 100%;
    height: 203px;
    border-width: 1px;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    border-color: #979797;
    padding: 18px 25px;
    margin-top: 3px;
    font-size: 18px;
}

.total-amount-wrapper {
    margin-top: -30px;
    text-align: right;
    height: 65px;
    float: right;
    border-bottom: 1px solid #bbbbbb;
    font-size: 20px;
    color: #4a4a4a;
    padding: 28px 25px 5px 22px;
}

.submit-button-wrapper {
    margin-top: 196px;
    margin-bottom: 266px;
    height: 65px;
    text-align: center;
}

.submit-button-wrapper .col-xs-6 {
    height: 100%;
}

.temp-store-button, .find-guide-button {
    border-style: none;
    border-width: 1px;
    border-color: #979797;
    width: 280px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0px 16px;
    color: white;
    font-size: 24px;
}

.temp-store-button {
    padding-top: 17px;
    background-color: #606060;
    float: right;
}

.find-guide-button {
    background-color: #e64c47;
    float: left;
}

.twitter-typeahead{margin-top: 12px; margin-left: 10.9%; width: 78%;}

.tt-dropdown-menu{
    width: 689px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #d4d4d4;
    font-size: 24px;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #e64c47;
}

.tt-suggestion{
    height: 58px;
    padding: 0px 24px 5px 24px;
    border-bottom: 1px solid #979797;
    margin: 0px;
}

.tt-hint{opacity: 0.3 !important;}

hr{
    margin: 48px 0px 50px 0px;
    border-bottom: solid 1px #bbbbbb;
}

.arrow-right{
    width: 15px;
    margin-top: 17px;
}

input[type='checkbox'] {
    vertical-align: baseline;
  width: 16px;
  height: 16px;
  margin-top: 15px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #606060;
  border-radius: 3px;
  border: solid 1px #979797;
    background-color: white;
    cursor: pointer;
}

label{
    cursor: pointer;
}

.display-none{
    display: none;
}

.location-option, .importance-option{
    width: 200px;
    font-size: 12px;
    border: none;
    border-bottom: solid 1px #bbbbbb;
    margin-left: 8px;
}

.importance-option{
    width: 523px;
    font-size: 20px;
    margin-left: 10px;
}