.main-container, .head-container {
    width: 880px;
    margin: auto;
}

.main-container {
    padding-top: 5px;
}

.sup-title-peach {
    color: #E64C47;
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

.sub-title {
    margin-top: 0px;
    margin-bottom: 17px;
    width: 485px;
    height: 32px;
    font-family: NanumSquareOTFR;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
}

.contents-wrapper .guide-brief {
  position: relative;
  margin-top: 30px;
  width: 880px;
  padding: 21px 33px 21px 33px;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #606060;
}
.contents-wrapper .guide-brief .brief-image {
  display: inline-block;
  width: 134px;
  height: 134px;
  border-radius: 100%;
}
.contents-wrapper .guide-brief .brief-contents {
  display: inline-block;
  padding-left: 33px;
}
.contents-wrapper .guide-brief .brief-contents .like {
  position: absolute;
  top: 33px;
  right: 33px;
  height: 24px;
}
.contents-wrapper .guide-brief .brief-contents .like img {
  height: 24px;
  width: 27px;
}
.contents-wrapper .guide-brief .brief-contents .brief-title {
  height: 34px;
  font-family: NanumSquare;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.contents-wrapper .guide-brief .brief-contents .brief-title .guide-name {
  font-weight: bold;
}
.contents-wrapper .guide-brief .brief-contents .brief-title .highlight {
  color: #dd3537;
}
.contents-wrapper .guide-brief .brief-contents .location {
  margin-top: 20px;
  height: 22px;
}
.contents-wrapper .guide-brief .brief-contents .location .location-title {
  display: inline-block;
  width: 123px;
  font-family: NanumSquare;
  font-size: 20px;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.contents-wrapper .guide-brief .brief-contents .location .location-list {
  width: 420px;
  display: inline-block;
  font-family: NanumSquare;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #dd3537;
}
.contents-wrapper .guide-brief .brief-contents .rating {
  height: 22px;
  margin-top: 15px;
}
.contents-wrapper .guide-brief .brief-contents .rating .rating-title {
  display: inline-block;
  width: 123px;
  height: 22px;
  font-family: NanumSquare;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.contents-wrapper .guide-brief .brief-contents .rating .rating-point {
  display: inline-block;
  height: 29px;
  font-family: NanumSquare;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}
.contents-wrapper .guide-brief .brief-contents .rating .rating-point .rating-img {
  height: 29px;
  display: inline-block;
  margin-right: 6px;
}
.contents-wrapper .guide-brief .brief-contents .info {
  margin-top: 22px;
  height: 22px;
  font-family: NanumSquareOTFR;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.contents-wrapper .guide-brief .brief-contents .info .guide-cnt,
.contents-wrapper .guide-brief .brief-contents .info .review-cnt {
  display: inline-block;
}

.gradation-bar{
    width: 880px;
    height: 55px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: linear-gradient(to right, #f2ad8a, #e64c47);
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 15px 0px 0px 20px;
    margin-top: 30px;
}

.accom-date{
    font-family: NanumSquare;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    position: absolute;
    top: 30px;
    left: 49px;

}

.accom-city{
    font-family: NanumSquare;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    position: absolute;
    top: 30px;
    left: 499px;
}

.accom-type{
    position: absolute;
    width: 125px;
    height: 48px;
    border-radius: 8px;
    border: solid 1px #979797;
    top: 76px;
    left: 20px;
    font-family: NanumSquare;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 13px 0px;
    text-align: center;
}

.accom-title{
    font-family: NanumSquare;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #dd3537;
    position: absolute;
    top: 85px;
    left: 158px;
}

.accom-location{
    font-family: NanumSquare;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    position: absolute;
    top: 127px;
    left: 158px;
}

.accom-pic-wrapper{
    overflow: hidden;
    width: 790px;
    height: 467px;
    margin: 20px auto;
    position: relative;
}

.content{
    width: 790px;
    border-radius: 8px;
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #979797;
    font-family: NanumSquare;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #000000;
    margin: 20px auto;
    padding: 20px;
}

.small-circle{
    width: 8px;
    height: 8px;
    background-color: #e64c47;
    border-radius: 4px;
    float: left;
    position: absolute;
    top: 39px;
    left: 20px;
}

.big-circle{
    width: 50px;
    height: 50px;
    background-color: #e64c47;
    border-radius: 25px;
    font-family: NanumSquare;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 14px;
    margin-left: -25px;
    margin-bottom: 24px;
    display: inline-block;
}

.map{
    margin: 20px auto 30px auto;
}

hr{margin: 0px;
    border-top: solid 1px #979797;
}

.guide-wrapper{
    margin: 27px 0px 70px 34px;
    border-left: 2px solid #bbbbbb;
}

.guide-date{
    display: inline-block;
    font-family: NanumSquareOTFR;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    vertical-align: middle;
    padding-left: 10px;
}

.medium-circle{
    width: 28px;
    height: 28px;
    background-color: #e64c47;
    border-radius: 14px;
    margin-left: -14px;
    display: inline-block;
}

.guide-title{
    display: inline-block;
    font-family: NanumSquare;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #dd3537;
    position: absolute;
    top:4px;
    margin-left: 20px;
}

.guide-content{
  font-family: NanumSquare;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
    margin: 16px 0px 35px 32px;
}

.guide-picture{
    width: 742px;
    margin: 16px 0px 0px 32px
}

.request-wrapper{
    width: 848px;
    margin: auto;
    margin-bottom: 35px;
}

.comment-title{
    font-family: NanumSquare;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e64c47;
    margin-left: 15px;
}

.comment-sub-title{
    font-family: NanumSquare;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
    margin: 10px 0px 0px 15px;
}

.request-wrapper hr{
    margin: 25px 0px 29px 0px;
}

.enroll-trip-button{
    display: none !important;
}

.comment-inside-wrapper{
    overflow: auto;
    padding: 2px;
}

.comment-user{
    max-width: 752px;
    border-radius: 25px;
    border: solid 1px #e64c47;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
    padding: 10px 20px;
    float: right;
    margin-right: 12px;
}

.comment-time-user{
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #979797;
    display: inline-block;
    margin-left: 665px;
    margin-top: 6px;
}

.comment-wrapper{
    overflow: auto;
}

.comment-guide{
    max-width: 673px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
    padding: 10px 20px;
    float: left;
    margin-left: 10px;
  background-color: #eeeeee;
}

.comment-time-guide{
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #979797;
    display: inline-block;
    margin-left: 80px;
    margin-top: 6px;
}

.guide-comment-pic{
    width: 54px;
    height: 54px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5), 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 27px;
    float: left;
    margin-left: 14px;
}

.comment-form-wrapper{
    width: 880px;
    height: 113px;
    margin: 40px 0px 0px 6px;
    position: relative;
}

.comment-form{
    width: 736px;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #979797;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
}

.comment-submit{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 153px;
    height: 113px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #e64c47;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
    padding-top: 46px;
    cursor: pointer;
}

.button-wrapper{
    position: absolute;
    right: 20px;
    display: inline-block;
    display: none;
    font-family: NanumSquare;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.pay-button{
    position: absolute;
    right: 0px;
    color: white;
    display: block;
    width: 296px;
    height: 73.4px;
    border-radius: 5px;
    background-image: linear-gradient(to left, #e64c47, #f2ad8a);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding-top: 19px;
    margin-bottom: 20.6px;
    cursor: pointer;
}

.back-button{
    position: absolute;
    right: 0px;
    top:94px;
    display: block;
    width: 296px;
    height: 73.4px;
    border-radius: 5px;
    background-color: #606060;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding-top: 19px;
    color: white;
}

.trans-wrapper{margin: 20px 0px 30px 20px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.cost-tilte{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #e64c47;
    margin: 30px 0px 5px 19px;
}

.cost-content-wrapper{
    margin: 15px 0px 15px 19px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.type-total-cost{
  font-family: NanumSquare;
  font-size: 25px;
  font-weight: bold ;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
    margin: 45px 0px 30px 0px;
}

.red-hr{
    border-top: solid 3px #e64c47;
}

.total-cost-wrapper{
    text-align: right;
    margin: 30px 0px 10px 0px;
    font-size: 25px;
    color: #000000;
}

.total-cost{
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #dd3537;
    margin-left: 20px;
    margin-right: 8px;
}

.total-cost-note{
      font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #dd3537;
    text-align: right;
}

pre{
    margin: 0px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.terms{
    display: none;
    text-align: left;
    position: absolute;
    top: 167px;
    right: 296px;
    width: 746px;
    height: 222px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #979797;
    margin-top: -167px;
}

.terms-content{
    width: 698px;
    height: 92px;
    border-radius: 4px;
    background-color: #f1f1f1;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    margin: 25px 0px 0px 24px;
    padding: 13px 25px;
    font-size: 20px;
}

.terms-title{
    display: inline-block;
    margin: 25px 0px 0px 36px;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e64c47;
}

.checkbox-wrapper{
    font-size: 20px;
    float: right;
    margin: 16px 24px 0px 0px;
    color: #333333;
}

[type="checkbox"]{
    margin-right: 18px;
}

.close{
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #9fa0a0;
    margin: 32px 0px 0px 440px;
}

.close img{
    width: 9px;
    margin-left: 6px;
    margin-top: -1px;
}

.guide-pic{
    width: 742px;
    margin: 15px 0 0 33px;
}

.brief-image{
    margin-top: -145px;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
