{% extends "mobile/base.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/select2.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.placecomplete.css' %}">
    <link rel="stylesheet" href='{% static "css/mobile/guide_search.css" %}'>
{% endblock %}

{% block js %}
    <script src="{% static 'js/select2.js' %}"></script>
    <script src="{% static 'js/jquery.placecomplete.js' %}"></script>
    <script src='{% static "js/mobile/guide_search.js" %}'></script>
{% endblock %}

{% block content %}

<div class="main-container">
    <section name="top">
        <h1 class="sup-title-peach">가이드 찾기</h1>
        <h2 class="sub-title">자신에게 꼭 맞는 가이드를 찾아보세요!</h2>
    </section>
    <div class="gradation-bar" style="z-index: 1">
        <img class="icon" src="/static/image/icon/where_white.png" alt="where?">
        <input class="find-guide-form" id="id_city" type="text" name="" value="{{ city }}" style="width: 250px">

    </div>
    <div class="gradation-bar">
        <img class="icon" src="/static/image/icon/when_white.png" alt="when?">
        <input class="find-guide-form" id="start_date_form" type="text" name="" value="{{ travel_begin_at }}" readonly style="width: 107px;">
        <img class="arrow-right" src="">
        <input class="find-guide-form2" id="end_date_form" type="text" name="" value="{{ travel_end_at }}" readonly style="width: 107px;">
    </div>
    <div class="gradation-bar">
        <img class="icon" src="/static/image/icon/howmany_white.png" alt="how many?">
        <input class="find-guide-form" id="traveler_cnt_form" type="text" name="" value="{{ age_group }}" readonly>
        <img class="arrow-down" src="/static/image/icon/arrow_down_white.png" alt="펼치기 버튼">

    </div>
    <div class="search-filter-list-wrapper">
        <span style="display: inline-block; margin-left: 2px;"><span class="search-filter-result"></span>명의 가이드가 있습니다.</span>
        <select class="search-filter-list">
            <option>인기순</option>
            <option>후기순</option>
            <option>최근활동순</option>
        </select>
    </div>
    <div class=""></div>

    <div class="guide-card-wrapper">

    </div>
    <div class="like-message-wrapper"></div>
    <div style="width: 100%; text-align: center">
    <div class="pagination-wrapper">
            <a href="#"><</a>
            <a href="#"><span>1</span></a>
            <a href="#"><span>2</span></a>
            <a href="#"><span>3</span></a>
            <a href="#"><span>4</span></a>
            <a href="#"><span>5</span></a>
            <a href="#">></a>
    </div>
    </div>
</div>

{% endblock %}