{% extends "pc/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load compile_static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/select2.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.placecomplete.css' %}">
    <link rel="stylesheet" href='{% static "css/pc/enroll_trip.css" %}'>
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApQSB8qcQB_Xda5MAmK18NdbmDIKjUbKM&libraries=places"></script>
    <script src="{% static 'js/select2.js' %}"></script>
    <script src="{% static 'js/jquery.placecomplete.js' %}"></script>
    <script src='{% static "js/enroll_trip.js" %}'></script>
{% endblock %}

{% block content %}
    <div class="main-container">
        <section>
            <h1 class="sup-title-peach">여행 요청서 쓰기</h1>
            <h2 class="sub-title">{{ user.first_name }} 님이 원하는 여행을 이동수단/숙소/가이드 항목별로 간편히 작성하세요!</h2>
        </section>
        <form method="POST" id="enroll-form">
            {% csrf_token %}
            {{ form.user }}
            <div class="white-bar">
                <img class="icon" src="{% static 'image/icon/where_black.png' %}" alt="where?">
                {{ form.city |add_class:"enroll-trip-form"|attr:"placeholder:뉴욕, 뉴저지" }}
            </div>

            <div class="white-bar">
                <img class="icon" src="{% static 'image/icon/when_black.png' %}" alt="where?">
                {{ form.travel_begin_at |add_class:"find-guide-form datepicker1"|attr:"readonly"|attr:"placeholder:시작 날짜"}}
                <img class="arrow-right" src="">~
                {{ form.travel_end_at |add_class:"find-guide-form2 datepicker2"|attr:"readonly"|attr:"placeholder:종료 날짜"}}
            </div>

            <div class="white-bar">
                <img class="icon" src="{% static 'image/icon/howmany_black.png' %}" alt="where?">
                {{ form.age_group |add_class:"enroll-trip-form"|attr:"placeholder:인원"|attr:"readonly" }}
                <img class="arrow-down" src="{% static 'image/icon/arrow_down_black.png' %}" alt="펼치기 버튼">
                <div class="traveler_cntpicker">
                    <div class="0">
                        0-2세
                        <span class="decrease_button">-</span>
                        <span class="increase_button">+</span>
                        <span class="traveler-num">0명</span>
                    </div>

                    <div class="1">
                        2-12세
                        <span class="decrease_button">-</span>
                        <span class="increase_button">+</span>
                        <span class="traveler-num">0명</span>
                    </div>

                    <div class="2">
                        12-19세
                        <span class="decrease_button">-</span>
                        <span class="increase_button">+</span>
                        <span class="traveler-num">0명</span>
                    </div>
                    <div class="3">
                        20-30대
                        <span class="decrease_button">-</span>
                        <span class="increase_button">+</span>
                        <span class="traveler-num">0명</span>
                    </div>
                    <div class="4">
                        40-50대
                        <span class="decrease_button">-</span>
                        <span class="increase_button">+</span>
                        <span class="traveler-num">0명</span>
                    </div>
                    <div class="5">
                        60대 이상
                        <span class="decrease_button">-</span>
                        <span class="increase_button">+</span>
                        <span class="traveler-num">0명</span>
                    </div>

                </div>
            </div>

            <span class="enroll-trip-help">*가이드의 도움이 필요한 항목을 활성화 시켜주세요.</span>

            <div class="peach-button-wrapper">
                <div class="col-xs-4">
                    <div class="paech-button way-of-travel-button inactive btn1">
                        <img src="/static/image/icon/logo_empty.png">

                        <span class="enroll-trip-button-name">이동 수단</span>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="paech-button lodging-button inactive btn2">
                        <img src="{% static 'image/icon/logo_empty.png' %}">

                        <span class="enroll-trip-button-name">숙소 </span>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="paech-button guide-button inactive btn3">
                        <img src="{% static 'image/icon/logo_full.png' %}">

                        <span class="enroll-trip-button-name">가이드</span>
                    </div>
                </div>
            </div>

            <div class="gradation-bar inactive btn1">

                <span class="bar-text">이동 수단</span>

                <img class="arrow-down" src="{% static 'image/icon/arrow_down_white.png' %}" alt="펼치기 버튼">

            </div>

            <div class="scrolling-page1">

                <span style="float: left">1.</span>
                <div class="sellect-wrapper">
                    <div class="col-xs-6 col-sm-3">
                        <input class="checkbox" id="via-input1" type="checkbox" name="trans_via" value=1>
                        <label for="via-input1"></label>직항
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <input class="checkbox" id="via-input2" type="checkbox" name="trans_via" value=2>
                        <label for="via-input2"></label>경유 1회
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <input class="checkbox" id="via-input3" type="checkbox" name="trans_via" value=4>
                        <label for="via-input3"></label>경유 2회
                    </div>
                </div>

                <span style="float: left">2.</span>
                <div class="sellect-wrapper">
                    <div class="col-xs-6 col-sm-3">
                        <input class="checkbox" type="checkbox" name="trans_type" name="trans_type" value=1>이코노미 석
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <input class="checkbox" type="checkbox" name="trans_type" name="trans_type" value=2>비즈니스 석
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <input class="checkbox" type="checkbox" name="trans_type" name="trans_type" value=4>퍼스트 석
                    </div>
                </div>
                {{ form.trans_comment |add_class:"additional-request-box"|attr:"placeholder:ex) 국적기로 예약해 주세요. 자리는 창가 쪽을 좋아합니다. 대한항공 마일리지를 모으고 있어요. 가격이 비싸더라도 대한항공으로 예약을 해주세요." }}

            </div>

            <div class="gradation-bar inactive btn2">

                <span class="bar-text">숙소</span>

                <img class="arrow-down" src="{% static 'image/icon/arrow_down_white.png' %}" alt="펼치기 버튼">

            </div>

            <div class="scrolling-page2">

                <span style="float: left">1.</span>
                <div class="sellect-wrapper">
                    <div class="col-xs-2 col-sm-fifth">
                        <input class="checkbox" name="accom_location" type="checkbox" value=1>공항 근처
                    </div>
                    <div class="col-xs-2 col-sm-fifth">
                        <input class="checkbox" name="accom_location" type="checkbox" value=2>시내
                    </div>
                    <div class="col-xs-2 col-sm-fifth">
                        <input class="checkbox" name="accom_location" type="checkbox" value=4>여행지 근처
                    </div>
                    <div class="col-xs-2 col-sm-fifth">
                        <input class="checkbox" name="accom_location" type="checkbox" value=8>기타
                    </div>
                </div>

                <span style="float: left">2.</span>
                <div class="sellect-wrapper">
                    <div class="col-xs-2 col-sm-fifth">
                        <input class="checkbox" name="accom_type" type="checkbox" value=1>호텔
                    </div>
                    <div class="col-xs-2 col-sm-fifth">
                        <input class="checkbox" name="accom_type" type="checkbox" value=2>한인 민박
                    </div>
                    <div class="col-xs-2 col-sm-fifth">
                        <input class="checkbox" name="accom_type" type="checkbox" value=4>현지인 집
                    </div>
                    <div class="col-xs-2 col-sm-fifth">
                        <input class="checkbox" name="accom_type" type="checkbox" value=8>리조트
                    </div>
                    <div class="col-xs-2 col-sm-fifth">
                        <input class="checkbox" name="accom_type" type="checkbox" value=16>가이드 집
                    </div>
                </div>
                {{ form.accom_comment |add_class:"additional-request-box"|attr:"placeholder:추가적으로 부탁하고 싶은 점을 적어주세요. ex) 숙소는 현지에서 지불하고 싶어요." }}

            </div>

            <div class="gradation-bar active btn3">

                <span class="bar-text">가이드</span>

                <img class="arrow-down" src="{% static 'image/icon/arrow_down_white.png' %}" alt="펼치기 버튼">

            </div>

            <div class="scrolling-page3">

                <span style="float: left">1.</span>
                <div class="sellect-wrapper">아침 {{ form.start_time }}시 부터는 일정을 시작해 주세요.</div>

                <span style="float: left">2.</span>
                <div class="sellect-wrapper">저녁 {{ form.end_time }}시에는 일정을 마쳐주세요.</div>

                <span style="float: left">3.</span>
                <div class="sellect-wrapper">꼭 가고 싶은 여행지는 {{ form.landmark }}입니다.</div>

                <span style="float: left">4.</span>
                <div class="sellect-wrapper">
                    <div style="margin-bottom: 16px;">여행테마</div>
                    <div class="row" style="margin-bottom:24px;">
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="theme" type="checkbox" value=1>전체
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="theme" type="checkbox" value=2>현지 꿀팁
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="theme" type="checkbox" value=4>액티비티
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="theme" type="checkbox" value=8>문화/예술
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="theme" type="checkbox" value=16>골목 여행
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="theme" type="checkbox" value=32>자연 경관
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="theme" type="checkbox" value=64>맛집 기행
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="theme" type="checkbox" value=128>역사여행
                        </div>
                    </div>

                </div>
                <span style="float: left">6.</span>
                <div class="sellect-wrapper">
                    <div style="margin-bottom: 16px;">이런 성향의 가이드가 좋아요!</div>
                    <div class="row" style="margin-bottom:24px;">
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="guide_type" type="checkbox" value=1>전체
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="guide_type" type="checkbox" value=2>유쾌한
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="guide_type" type="checkbox" value=4>차분한
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="guide_type" type="checkbox" value=8>지적인
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="guide_type" type="checkbox" value=16>유머러스한
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="guide_type" type="checkbox" value=32>감성적인
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="guide_type" type="checkbox" value=64>설명을 잘하는
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="guide_type" type="checkbox" value=128>경제적인
                        </div>
                    </div>
                </div>

                <span style="float: left">7.</span>
                <div class="sellect-wrapper">
                    <div style="margin-bottom: 16px;">저에게 가장 중요한 것은</div>
                    <div class="row" style="margin-bottom:24px;">
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="importance" type="checkbox" value=1>맛집
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="importance" type="checkbox" value=2>인생 사진
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="importance" type="checkbox" value=4>적절한 휴식
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="importance" type="checkbox" value=8>친구같은 가이드
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="importance" type="checkbox" value=16>역사공부
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input class="checkbox" name="importance" type="checkbox" value=32>기타
                        </div>
                    </div>
                </div>
                {{ form.additional_request |add_class:"additional-request-box"|attr:"placeholder:추가적으로 부탁하고 싶은 점을 적어주세요. ex) 빽빽하지 않은 여행일정이 좋아요. 하루에 2-3군데에서 여유롭게 즐기고 싶어요." }}

            </div>
            <hr>
            <div class="total-amount-wrapper">
                {{ form.cost }}만 원
            </div>
            <span style="font-size: 26px; margin: 0px 14px 0px 0px; display: block; float: right">희망 경비</span>
            <div class="submit-button-wrapper">
                <div class="col-xs-6">
                    <a class="temp-store-button" href="javascript:history.go(-1)">취소</a>
                </div>
                <div class="col-xs-6">
                    <button class="find-guide-button" type="button" onclick="submit_enroll_form()">가이드 모집</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
