{% extends "pc/base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href='{% static "css/pac_style.css" %}'>
<link rel="stylesheet" href='{% static "css/pc/guide_search.css" %}'>
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/dist/typeahead.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead-addresspicker/0.1.4/typeahead-addresspicker.min.js"></script>
<script src='{% static "js/guide_search.js" %}'></script>
{% endblock %}

{% block content %}

<div class="main-container">
    <section name="top">
        <h1 class="sup-title-peach">가이드 찾기</h1>
        <h2 class="sub-title">자신에게 꼭 맞는 가이드를 찾아보세요!</h2>
    </section>
    <div class="gradation-bar" style="z-index: 1">
        <img class="icon" src="/static/image/icon/where_white.png" alt="where?">
        <input class="find-guide-form" id="id_city" type="text" name="" value="{{ city }}">

    </div>
    <div class="gradation-bar">
        <img class="icon" src="/static/image/icon/when_white.png" alt="when?">
        <input class="find-guide-form datepicker1" id="start_date_form" type="text" name="" value="{{ travel_begin_at }}" readonly>
        <img class="arrow-right" src="">
        <input class="find-guide-form2 datepicker2" id="end_date_form" type="text" name="" value="{{ travel_end_at }}" readonly>
    </div>
    <div class="gradation-bar">
        <img class="icon" src="/static/image/icon/howmany_white.png" alt="how many?">
        <input class="find-guide-form" id="traveler_cnt_form" type="text" name="" value="{{ age_group }}" readonly style="width: 78%;">
        <img class="arrow-down" src="/static/image/icon/arrow_down_white.png" alt="펼치기 버튼">
        <div class="traveler_cntpicker">
            <div>
                성인
                <span class="adult_num">0명</span>
                <span class="increase_button">+</span>
                <span class="decrease_button">-</span>
            </div>

            <div>
                어린이
                <span class="child_num">0명</span>
                <span class="increase_button">+</span>
                <span class="decrease_button">-</span>
            </div>

            <div>
                유아
                <span class="toddler_num">0명</span>
                <span class="increase_button">+</span>
                <span class="decrease_button">-</span>
            </div>
        </div>

    </div>
    <div class="search-filter-list-wrapper">
        <div class="search-filter-list">
            <span class="order-active" onclick="changeOrder(this.id)" id="popularity">인기순</span>
            <span onclick="changeOrder(this.id)" id="reviewNum">후기순</span>
            <span onclick="changeOrder(this.id)" id="recentActivity">최근활동순</span>
        </div>
        <span style="float: right;"><span class="search-filter-result"></span>명의 가이드가 있습니다.</span>

    </div>
    <div class=""></div>

    <div class="guide-card-wrapper">

    </div>
    <div class="like-message-wrapper"></div>
    <div style="width: 100%; text-align: center">
    <div class="pagination-wrapper">
            <a href="#"><</a>
            <a href="#"><span>1</span></a>
            <a href="#"><span>2</span></a>
            <a href="#"><span>3</span></a>
            <a href="#"><span>4</span></a>
            <a href="#"><span>5</span></a>
            <a href="#">></a>
    </div>
    </div>
    <a class="page-up-button" href="#top"><img class="page-up-icon" src="assets/image/icon/go_up.png">
    </a>

<!--    <div class="enroll-trip-button fixed">
        <h2>여행 요청서 쓰기</h2>
        <span>나만의 전문 가이드를 모집해보세요!</span>
    </div> -->
</div>

{% endblock %}