{% extends "pc/base.html" %}
{% load compile_static %}
{% load static %}
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'less/pc/my_trip.less'|compile %}">
{% endblock %}

{% block js %}
    <script src="{% static 'js/my_trip.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="contents-wrapper">
        <div class="contents-title">여행</div>
        <div class="tabs">
            <div class="tab tab-enroll active">여행 요청서</div><!--
            --><div class="tab tab-trip">확정된 여행</div><!--
            --><div class="tab tab-past tab-last">지난 여행</div>
        </div>
        <div class="tab-contents tab-enroll tab-active">
            {% for enroll, offer_cnt in enroll_list %}
                <div class="tab-content">
                    <div class="tab-content-label {% if not enroll.published %}done{% endif %}">
                        {% if enroll.published %}
                            {% if offer_cnt > 0 %}결제 대기중{% else %}모집중{% endif %}
                        {% else %}마감{% endif %}
                    </div>
                    <div class="tab-content-pic">picpic</div><!--
                --><div class="tab-content-info">
                    <div class="guide-options">
                        <div class="guide-option {% if enroll.trans_guided %}guided{% endif %}"></div>
                        <div class="guide-txt">이동수단</div>
                        <div class="guide-option {% if enroll.accom_guided %}guided{% endif %}"></div>
                        <div class="guide-txt">숙박</div>
                        <div class="guide-option {% if enroll.guide_guided %}guided{% endif %}"></div>
                        <div class="guide-txt">가이드</div>
                    </div>
                    <div class="schedule">{{ enroll.travel_begin_at }} ~ {{ enroll.travel_end_at }}</div>
                    <div class="cities ellipsis">
                        {% for c in enroll.city %}
                            {% if not forloop.first %} / {% endif %} {{ c }}
                        {% endfor %}
                    </div>
                    <div class="age-grp"> {{ enroll.age_group }} </div>
                    <div class="cost">희망 경비 <span class="money">{{ enroll.cost|intcomma }}</span> 만원</div>
                </div><!--
                --><div class="tab-content-btn">
                    <a href="" class="list-btn {% if offer_cnt == 0 %}no-list{% endif %}">
                        {% if offer_cnt == 0 %}지원 가이드 없음{% else %}리스트 보기{% endif %}</a>
                    <div class="offer-cnt">{% if offer_cnt > 0 %}가이드 {{ offer_cnt|intcomma }} 명 지원{% else %} {% endif %}</div>
                </div>
                </div>
            {% empty %}
                <div class="tab-content">
                    no request
                </div>
            {% endfor %}
        </div>
        <div class="tab-contents tab-trip">
            {% for offer in offer_list %}
                <div class="tab-content">
                    {{ offer.id }}
                    {{ offer.request_id }}
                    {% if offer.is_canceled %}
                        <div class="tab-content-label done">취소</div>
                    {% endif %}
                    <div class="tab-content-pic">picpic</div><!--
                --><div class="tab-content-info">
                    {{ offer.travel_begin_at }}~{{ offer.travel_end_at }}<br>
                    {{ offer.city }}
                </div><!--
                --><div class="tab-content-btn">
                    <a href="" class="list-btn no-list">리스트 보기</a>
                </div>
                </div>
            {% empty %}
                <div class="tab-content">
                    no trip
                </div>
            {% endfor %}
        </div>
        <div class="tab-contents tab-past">
            {% for enroll in past_list %}
                <div class="tab-content">
                    {#                    <div class="tab-content-label">label</div>#}
                    <div class="tab-content-pic">picpic</div><!--
                --><div class="tab-content-info">
                    {{ enroll.travel_begin_at }}~{{ enroll.travel_end_at }}<br>
                    {{ enroll.city }}
                </div><!--
                --><div class="tab-content-btn">
                    <a href="" class="list-btn">리스트 보기</a>
                </div>
                </div>
            {% empty %}
                <div class="tab-content">
                    no history
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
