{% extends "pc/base.html" %}
{% load humanize %}
{% load mathfilters %}
{% load custom_filters %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/pc/offer_detail.css' %}">
{% endblock %}
{% block js %}
    <script src="{% static 'js/offer_detail.js' %}"></script>
{% endblock %}
{% block title %}{% endblock %}

{% block content %}
    <div class="main-container contents-wrapper">
        <section name="top">
            <h1 class="sup-title-peach">가이드 견적서</h1>
            <h2 class="sub-title">{{ guide_offer.travel_period.0 }} - {{ guide_offer.travel_period|last }}</h2>
        </section>

        <div class="guide-brief">
            <div class="brief-image"></div>
            <div class="brief-contents">
                <div class="like">{% if request.user.is_authenticated %}
                    {# TODO: heart sticker from like. Make it to a tag and bind js+ajax function #}
                    <img src="{% static 'image/icon/heart_white_shadow.png' %}" alt=""> <img src="" alt="">{% endif %}
                </div>
                <div class="brief-title">
                    <span class="guide-name">{{ guide.full_name }}</span> 님은 <span class="highlight">스루 가이드
                    {% if guide.is_local %}, 현지 가이드{% endif %}</span>
                    입니다.
                </div>
                <div class="location">
                    <div class="location-title">가능 지역</div>
                    <div class="location-list ellipsis">{% for loc in guide.guide_location %}
                        {{ loc }} {% endfor %}</div>
                </div>
                <div class="rating">
                    <div class="rating-title">평점</div>
                    <div class="rating-point">
                        {% for i in rating %}
                            <img class="rating-img" src="{% static 'image/icon/logo_full.png' %}" alt="">
                        {% endfor %}
                        {% if guide.clean_rating.1 == 0.5 %}
                            <img src="{% static 'image/icon/logo_half.png' %}" alt="" class="rating-img">
                        {% else %}
                            <img src="{% static 'image/icon/logo_empty.png' %}" alt="" class="rating-img">
                        {% endif %}
                        {% for i in norating %}
                            <img src="{% static 'image/icon/logo_empty.png' %}" alt="" class="rating-img">
                        {% endfor %}
                        {{ guide.clean_rating.0|add:guide.clean_rating.1|floatformat:1 }} / 5.0
                    </div>
                </div>
                <div class="info">
                    <div class="guide-cnt">가이드 {{ guide.guide_cnt }} 건</div>
                    |
                    <div class="review-cnt">후기 {{ reviews|length }} 개</div>
                </div>
            </div>
        </div>

        <!--이동수단-->
        {% if guide_offer.trans_info %}
        <div class="gradation-bar">이동 수단</div>
            {% for trans_info in guide_offer.trans_info %}
        <div class="trans-wrapper">{{ trans_info }}</div>
            {% endfor %}
        {% endif %}

        <!--숙소-->
        {% if a_template_list %}
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApQSB8qcQB_Xda5MAmK18NdbmDIKjUbKM&"></script>

            <div class="gradation-bar">숙소</div>
            {% for accom in a_template_list %}
                <div style="position:relative; padding-top: 149px;">
                    <div class="small-circle"></div>
                    <div class="accom-date">{{ accom.1 }} - {{ accom.2 }}</div>
                    <div class="accom-city">{{ accom.0.country }}, {{ accom.0.city }}</div>
                    <div class="accom-type">{{ accom.0.type }}</div>
                    <div class="accom-title">
                        {{ accom.0.title }}
                    </div>
                    <div class="accom-location">
                        위치: {{ accom.0.small_city }}, {{ accom.0.city }}
                    </div>
                    {% if accom.pic_list %}
                        <div class="accom-pic">

                        </div>
                    {% endif %}
                    <div class="content">
                        {{ accom.0.content }}
                    </div>
                    <div class="map" style="width:790px; height: 467px;">{{ accom.0.lat }} {{ accom.0.lng }}</div>
                </div>
                {% if accom != a_template_list|last %}
                    <hr>
                {% else %}
                    <div style="height: 30px;"></div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <!--가이드-->
        {% if g_template_qlist %}
            <div class="gradation-bar">가이드</div>
            {% for g_template_q in g_template_qlist %}
                <div class="guide-wrapper">
                    <div>
                        <div class="big-circle">{{ forloop.counter }}일</div>
                        <div class="guide-date">{{ guide_offer.travel_period|index:forloop.counter0 }}</div>
                    </div>
                    {% for g_template in g_template_q %}
                        <div style="position: relative;">
                            <div class="medium-circle"></div>
                            <div class="guide-title">{{ g_template.title }}</div>
                        </div>
                        {% if g_template.picture %}
                        <div class="guide-pic"></div>
                        {% endif %}
                        <div class="guide-content"> {{ g_template.content }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}

        <!--견적서-->
        {% if cost_qlist %}
        <div class="gradation-bar">견적서</div>
        {% for cost_q in cost_qlist %}
        <div class="cost-tilte">{{ cost_q.0.type }}</div>
        {% for cost in cost_q %}
        <div class="cost-content-wrapper">
            {{cost.info}} <span style="float: right;">{{cost.price|intcomma}} 원</span>
        </div>
        {% endfor %}
        <div class="type-total-cost"><span style="color:#dd3537;">{{ type_cost|index:forloop.counter0|intcomma }}</span> 원</div>
        {% if cost_q == cost_qlist|last %}
        <hr class="red-hr">
        {% else %}
        <hr>
        {% endif %}
        {% endfor %}
        <div class="total-cost-wrapper">총 경비 <span class="total-cost">{{ total_cost|intcomma }}</span> 원</div>
        <div class="total-cost-note">(가이드 비용의 수수료 12% {{guide_commission|intcomma}}원 포함)</div>
        {% endif %}

    <div class="request-wrapper">
        <div class="comment-title">수정요청 / 문의사항</div>
        <div class="comment-sub-title">가이드에게 견적서 수정요청 또는 질문을 해보세요. 댓글 기능으로 실시간 소통을 할 수 있습니다.</div>
        <hr>
        <div class="comment-wrapper">
            {% for comment in comment_q %}
                {% if comment.writer == guide_offer.guide.user_id %}
                    <div class="comment-inside-wrapper">
                        <div class="guide-comment-pic">

                        </div>

                        <div class="comment-guide">
                            {{ comment.content }}
                        </div>
                    </div>
                        <div class="comment-time-guide">
                        {{ comment.created_at|date:'Y.m.d H:i' }}
                        </div>

                {% elif comment.writer == guide_offer.request.user_id %}
                    <div class="comment-inside-wrapper">
                        <div class="comment-user">
                            {{ comment.content }}
                        </div>
                    </div>
                        <div class="comment-time-user">
                            {{ comment.created_at|date:'Y.m.d H:i' }}
                        </div>

                {% endif %}
            {% endfor %}
        </div>
        <div class="comment-form-wrapper">
            <textarea class="comment-form"></textarea>
            <a class="comment-submit" onclick="createComment()">등록</a>
        </div>

    </div>

        <div class="button-wrapper">
            <a class="pay-button">결제 하기</a>
            <a class="back-button">리스트로 가기</a>
        </div>

    </div>

{% endblock %}
