{% extends "pc/base.html" %}
{% load humanize %}
{% load mathfilters %}
{% load custom_filters %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/pc/offer_detail.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'js/offer_detail.js' %}"></script>
{% endblock %}
{% block title %}{% endblock %}

{% block content %}
<div class="main-container contents-wrapper">
    <section name="top">
        <h1 class="sup-title-peach">가이드 견적서</h1>
        <h2 class="sub-title"></h2>
    </section>

    <div class="guide-brief">
        <div class="brief-image"></div>
        <div class="brief-contents">
            <div class="like">{% if request.user.is_authenticated %}
                {# TODO: heart sticker from like. Make it to a tag and bind js+ajax function #}
                <img src="{% static 'image/icon/heart_white_shadow.png' %}" alt=""> <img src="" alt="">{% endif %}
            </div>
            <div class="brief-title">
                <span class="guide-name">{{ guide.full_name }}</span> 님은 <span class="highlight">스루 가이드{% if guide.is_local %}, 현지 가이드{% endif %}</span>
                입니다.
            </div>
            <div class="location">
                <div class="location-title">가능 지역</div>
                <div class="location-list ellipsis">{% for loc in guide.guide_location %} {{ loc }} {% endfor %}</div>
            </div>
            <div class="rating">
                <div class="rating-title">평점</div>
                <div class="rating-point">
                    {% for i in rating %}
                    <img class="rating-img" src="{% static 'image/icon/logo_full.png' %}" alt="">
                    {% endfor %}
                    {% if guide.clean_rating.1 == 0.5 %}
                    <img src="{% static 'image/icon/logo_half.png' %}" alt="" class="rating-img">
                    {% else %}
                    <img src="{% static 'image/icon/logo_empty.png' %}" alt="" class="rating-img">
                    {% endif %}
                    {% for i in norating %}
                    <img src="{% static 'image/icon/logo_empty.png' %}" alt="" class="rating-img">
                    {% endfor %}
                    {{ guide.clean_rating.0|add:guide.clean_rating.1|floatformat:1 }} / 5.0
                </div>
            </div>
            <div class="info">
                <div class="guide-cnt">가이드 {{ guide.guide_cnt }} 건</div>
                |
                <div class="review-cnt">후기 {{ reviews|length }} 개</div>
            </div>
        </div>
    </div>

    <!--이동수단-->
    {% if guide_offer.trans_info %}
    <div class="gradation-bar">이동 수단</div>
    {% for trans_info in guide_offer.trans_info %}
        {{trans_info|linebreaks}}
    {% endfor %}
    {% endif %}

    <!--숙소-->
    {% if guide_offer.accom_template %}
    <div class="gradation-bar">숙소</div>
    {% for accom in guide_offer.accom_template %}

    {% endfor %}
    {% endif %}

    <!--가이드-->
    {% if guide_offer.guide_template %}
    <div class="gradation-bar">가이드</div>
    {% for g in g_template %}
        <div>{{g.title}}</div>
        <div>{{g.content}}</div>
    {% endfor %}
    {% endif %}

    <!--견적서-->
    {#% if %#}
    <div class="gradation-bar">견적서</div>
    {#% for %#}

    {#% endfor %#}
    {#% endif %#}

</div>

{% endblock %}
