{% extends "pc/base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load custom_filters %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/pc/volunteer_list.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'js/volunteer_list.js' %}"></script>
{% endblock %}
{% block title %}{% endblock %}

{% block content %}
<div class="main-container">
    <section name="top">
        <h1 class="sup-title-peach">지원한 가이드 리스트</h1>
        <h2 class="sub-title">총 <strong style="color: #dd3537">{{guide_list.count}}</strong>명의 가이드가 지원하셨습니다.</h2>
    </section>

    <div class="tab-content">
        <div class="tab-content-pic">picpic</div>
        <div class="tab-content-info">
            <div class="guide-options">
                <div class="guide-option {% if user_request.trans_guided %}guided{% endif %}"></div>
                <div class="guide-txt">이동수단</div>
                <div class="guide-option {% if user_request.accom_guided %}guided{% endif %}"></div>
                <div class="guide-txt">숙박</div>
                <div class="guide-option {% if user_request.guide_guided %}guided{% endif %}"></div>
                <div class="guide-txt">가이드</div>
            </div>
            <div class="schedule">{{ user_request.travel_begin_at|date:"Y/m/d" }} ~ {{user_request.travel_end_at|date:"Y/m/d" }}
            </div>
            <div class="cities ellipsis">
                {% for c in user_request.city %}
                {% if not forloop.first %} / {% endif %} {{ c }}
                {% endfor %}
            </div>
            <div class="age-grp"> {{ user_request.age_group }}</div>
            <div class="cost">희망 경비 <span class="money">{{ user_request.cost|intcomma }}</span> 만원</div>
        </div>
        <div class="tab-content-btn">
            <a href="" class="list-btn">가이드 모집 마감하기</a>
        </div>
    </div>

    <hr>

    <div class="guide-card-wrapper">
        {% for guide_offer in guide_offers %}
        <a class="guide-card" href="{% url 'offer_detail' guide_offer.id %}">
            <form id="like" method="get">
                <input type="hidden" id="user_id" value="{{ request.user.id }}" name="user_id">
                <input type="hidden" id="guide_id" value="{{ guide_offer.guide_offer.guide.id }}" name="guide_id">
                <div class="like-button {% if guide_offer.guide.is_liked %} liked {% else %} unliked {% endif %}" onclick="like(this)"></div>
            </form>
            <span class="guide-name">
                {{ guide_offer.guide.full_name }}
            </span>
            <div class="guide-score-wrapper">
                {% for i in guide_offer.guide.clean_rating.0|to_list %}
                <img class="guide-score" src="{% static 'image/icon/logo_full.png' %}" alt="">
                {% endfor %}
                {% if guide_offer.guide.clean_rating.1 == 0.5 %}
                <img src="{% static 'image/icon/logo_half.png' %}" alt="" class="guide-score">
                {% else %}
                <img src="{% static 'image/icon/logo_empty.png' %}" alt="" class="guide-score">
                {% endif %}
                {% for i in 4|sub:guide_offer.guide.clean_rating.0|to_list %}
                <img src="{% static 'image/icon/logo_empty.png' %}" alt="" class="guide-score">
                {% endfor %}
            </div>
            <span class="guide-review">
                가이드 {{ guide_offer.guide.pay_cnt }}건 ㅣ 후기 0개
            </span>
            <img class="guide-image" src="/static/image/images/jinwoong.jpg">
            <span class="guide-cost">
                총 경비 <span class="guide-money">{#{ guide_offer. }#}</span>원
            </span>
        </a>

        {% endfor %}
    </div>
</div>

<div class="like-message-wrapper"></div>


{% endblock %}
