.pac-container{margin-top: -100px; border-radius: 8px; size: 24px; width: 690px !important;}
.pac-icon{display: none;}
.pac-item{padding-left: 24px; height: 64px; padding-top: 22px; font-family: 'NanumSquare', 'Nanum Gothic', sans-serif; font-size: 24px;}
.pac-matched{font-size: 24px;}
.pac-item-query{font-size: 24px;}

.twitter-typeahead{margin-top: 12px; margin-left: 10.9%; opacity:0.3; width: 78%;}

.traveler_cntpicker{
    z-index: 100;
    display: none;
    position: absolute;
    top:48px;
    left: 10.9%;
    width: 78%;
    height: 235px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #d4d4d4;
    font-size: 20px;
}

.traveler_cntpicker div{
    margin: 32px 0px 17px 26px;
}

.adult_num, .child_num, .toddler_num{margin-right: 46px;}
.adult_num, .toddler_num{margin-left: 122px;}
.child_num{margin-left: 103px;}

.increase_button, .decrease_button{
    text-align:center;
    font-size:25px;
    display:inline-block;
    margin-left: 17px;
    width: 29px;
    height: 29px;
    border:1px solid;
    border-radius: 14.5px;
    cursor:pointer;
}