<!DOCTYPE html>
{% load compile_static %}
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href='{% static "less/pc/common.less"|compile %}'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/sweetalert2/6.4.3/sweetalert2.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    {% block css %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApQSB8qcQB_Xda5MAmK18NdbmDIKjUbKM&libraries=places"></script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/dist/typeahead.bundle.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead-addresspicker/0.1.4/typeahead-addresspicker.min.js"></script>#}
    <script src="https://cdn.jsdelivr.net/sweetalert2/6.4.3/sweetalert2.min.js"></script>
    {% block js %}{% endblock %}
</head>
<body>
<header id="header" class="brave_head">
    <div class="main_logo">
        <a href="/" title="">
            <img src="{% static 'image/icon/logo_bravepeach.png' %}" alt="">
        </a>
    </div>
    {% if request.user.is_authenticated %}
        <div class="profile_img">
            <a href="edit/" title="">
                <img style="width: 50px;height: auto;border-radius: 24px;" {% if request.user.profile.photo.url is not NULL %} src="{{ request.user.profile.photo.url }}" {% else %} src="" {% endif %} alt="프로필 이미지">
            </a>
            <span>환영합니다!
            <a href="edit/" title="">{{request.user.first_name}} {{request.user.last_name}}님!</a>
        </span>
        </div>
    {% endif %}
    <div class="gnb">
        <ul>
            <li><a href="#" title="도움말">도움말</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="/logout/?next={{request.path}}">로그아웃</a></li>
{#                <li><a href="#" title="메세지">메세지</a></li>#}
                <li><a href="{% url 'my_trip' %}" title="여행">여행</a></li>
                <li><a href="#" title="가이드 찜 리스트">가이드 찜 리스트</a></li>
                <li><a href="#" title="가이드 찾기">가이드 하기</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" title="로그인">로그인</a></li>
                <li><a href="{% url 'register' %}" title="회원가입">회원가입</a></li>
            {% endif %}
        </ul>
    </div>
</header>
{% block content %}{% endblock %}
<footer>
    <div class="foot_menu">
        <ul>
            <li class="col-xs-3"><a href="#" title="이용방법">이용방법</a></li>
            <li class="col-xs-3"><a href="#" title="자주 묻는 질문">자주 묻는 질문</a></li>
            <li class="col-xs-3"><a href="#" title="이용약관">이용약관</a></li>
            <li class="col-xs-3"><a href="#" title="개인정보 취급방침">개인정보 취급방침</a></li>
        </ul>
    </div>
    <div class="info">
        <div class="row" style="width:550px; margin:auto;">
            <span class="col-xs-4">기업명 | 용감한 Yonggamhan</span>
            <span class="col-xs-4">용감한 복숭아 Bravepeach</span>
            <span class="col-xs-4">대표자 | 오연주 (Jules Oh)</span>
        </div>
        <div style="height: 29px;"></div>
        <div class="row" style="width: 455px; margin: auto;">
            <span class="col-xs-6">대표번호 | +82) 10-5133-1564</span>
            <span class="col-xs-6">일반 문의 | bravepeach.trip@gmail.com</span>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="copyright">
            Copyright (C) bravepeach All rights reserved
        </div>
    </div>
</footer>
</body>
</html>
