{% extends "pc/base.html" %}
{% load compile_static %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'less/pc/index.less'|compile %}">
{#    <link rel="stylesheet" href='{% static "css/pac_style_main.css" %}'>#}
{% endblock %}

{% block title %} bravepeach | 나만의 여행을 위한 맞춤형 여행 플랫폼 {% endblock %}

{% block content %}
<div class="main-header">
    <div class="head-container">
        <div class="main-message">
            <h2>겁나지만 세상이 너무나 궁금한 당신</h2>
            <h1>어디로 가시나요?</h1>
        </div>

        <form class="main-form-wrapper">
            <div class="location_form_main_wrapper">
                <span class="form-name">위치</span>
                <input id="location_form" class="location_form_main" placeholder="목적지, 도시명, 주소" type="text" required>
            </div>

            <div class="travel_date_form_main_wrapper">
                <span class="form-name">날짜</span>
                <input id="start_date_form_main" placeholder="출국일," type="text" readonly>
                <input id="end_date_form_main" placeholder="도착일" type="text" readonly>
            </div>

            <div class="traveler_cnt_form_main_wrapper">
                <span class="form-name">인원</span>
                <div class="traveler_cntpicker">
                    <div>
                        성인
                        <span class="adult_num">0명</span>
                        <span class="increase_button">+</span>
                        <span class="decrease_button">-</span>
                    </div>

                    <div>
                        어린이
                        <span class="child_num">0명</span>
                        <span class="increase_button">+</span>
                        <span class="decrease_button">-</span>
                    </div>

                    <div>
                        유아
                        <span class="toddler_num">0명</span>
                        <span class="increase_button">+</span>
                        <span class="decrease_button">-</span>
                    </div>
                </div>
                <input id="traveler_cnt_main" placeholder="여행자 수" type="text" readonly>
                <input class="main-form-button" type="submit" value="가이드 검색">
            </div>
        </form>
    </div>
</div>

<div class="mobile-main main-container">
    <div class="row">
        <div class="col-xs-12 col-sm-4" id="search_location1">
            <div class="main-thumbnail red-sunset">
                <div class="overlay">
                    <h4>모두의 핫플레이스</h4>
                    <h3>보라카이</h3>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="main-thumbnail mountain">
                <div class="overlay">
                    <h4>죽기전에 꼭 가야할 그 곳</h4>
                    <h3>미국 서부</h3>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="main-thumbnail waiting">
                <div class="overlay">
                    <h4>도시의 모든 것</h4>
                    <h3>뉴욕</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="main-thumbnail red-sunset">
                <div class="overlay">
                    <h4>모두의 핫플레이스</h4>
                    <h3>보라카이</h3>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="main-thumbnail mountain">
                <div class="overlay">
                    <h4>죽기전에 꼭 가야할 그 곳</h4>
                    <h3>미국 서부</h3>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="main-thumbnail waiting">
                <div class="overlay">
                    <h4>도시의 모든 것</h4>
                    <h3>뉴욕</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="main-thumbnail red-sunset">
                <div class="overlay">
                    <h4>모두의 핫플레이스</h4>
                    <h3>보라카이</h3>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="main-thumbnail mountain">
                <div class="overlay">
                    <h4>죽기전에 꼭 가야할 그 곳</h4>
                    <h3>미국 서부</h3>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="main-thumbnail waiting">
                <div class="overlay">
                    <h4>도시의 모든 것</h4>
                    <h3>뉴욕</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}